
/* #region Component Scoped Custom Properties */

.homeSection { /** Home Section = This custom selector contains the custom .homeHeader and .contentDiv selectors, is the custom .appMain selector's only child and is this custom component's root selector. */


    --hab-sha-wid : calc( var( --hor-rhy-max ) * var( --gol-rat-xsm ) ); /** Headers Anchors Buttons Shared Width ~= 280.124px @1920px width = This custom property stores the width that will be used for the custom headers = Vite and React H1 spans text, anchors = Vite and React logo anchors/images and buttons = increment and decrement buttons, with the idea behind this being that these elements should all be visually aligned and even though their inner content is not the same width, making their containers the exact same width makes aligning them precisely much easier. */


}

/* #endregion Component Scoped Custom Properties */



/* #region Home Section */

.homeSection { /** Home Section = This custom selector contains the custom .homeHeader and .contentDiv selectors, is the custom .appMain selector's only child and is this custom component's root selector. */

    /* #region Selector Scoped Custom Properties = These are technically component scoped but placing and labelling them here makes my intention clear that these are intended for use in this selector only. */

    --hom-sec-gta :   /** Home Section Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'homeHeader'  /** This value was chosen to be used to contain the custom .homeHeader selector within this selector grid's first row, full width column. */
        'contentDiv'; /** This value was chosen to be used to contain the custom .contentDiv selector within this selector grid's second row, full width column. */

    --con-div-row : calc( 55% - ( var( --row-gap-xla ) / 2 ) ); /** Content Div Row                 ~= 292.400px @1080px height = This custom property stores the height of the custom .contentDiv selector's row within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --hom-hea-row : calc( 45% - ( var( --row-gap-xla ) / 2 ) ); /** Home Header Row                 ~= 364.900px @1080px height = This custom property stores the height of the custom .homeHeader selector's row within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --hom-sec-gtr : var(  --hom-hea-row ) var( --con-div-row ); /** Home Section Grid Template Rows ~= 725.100px @1080px height = This custom property stores the grid template rows value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-template-areas   : var( --hom-sec-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .appMain selector. */
    grid-template-rows    : var( --hom-sec-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height                : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .appMain selector. */
    row-gap               : var( --row-gap-xla ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
    text-align            : center;               /** This value was chosen to be used to horizontally center all text, with the idea behind this being that each section contains only one line of text and is more aesthetically appealing when centered. */

}



/* #region Home Header */

.homeHeader { /** Home Header = This custom selector contains the custom .headerH1 and .headerDiv selectors and is the custom .homeSection selector's first grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --hom-hea-gta :  /** Home Header Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'headerH1 '  /** This value was chosen to be used to contain the custom .headerH1 selector within this selector grid's first row, full width column. */
        'headerDiv'; /** This value was chosen to be used to contain the custom .headerDiv selector within this selector grid's second row, full width column. */

    --hea-div-row : calc( 60% - ( var( --row-gap-lar ) / 2 ) ); /** Header Div Row                 ~= 154.483px @1080px height = This custom property stores the height of the custom .headerDiv selector's row within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --hea-h1--row : calc( 40% - ( var( --row-gap-lar ) / 2 ) ); /** Header H1 Row                  ~=  96.000px @1080px height = This custom property stores the height of the custom .headerH1 selector's row within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --hom-hea-gtr : var( --hea-h1--row ) var( --hea-div-row );  /** Home Header Grid Template Rows ~= 292.400px @1080px height = This custom property stores the grid template rows value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : homeHeader;           /** This value was chosen to be used to place this selector within the custom .homeSection selector grid area's first row, full width column. */
    grid-template-areas   : var( --hom-hea-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .homeSection selector. */
    grid-template-rows    : var( --hom-hea-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    row-gap               : var( --row-gap-lar ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */

}



/* #region Header H1 */

.headerH1 { /** Header H1 = This custom selector contains the custom .viteSpan, plusSpan and .reactSpan selectors and is the custom .homeHeader selector's first grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --hea-h1--gta :                        /** Header H1 Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'viteSpan   plusSpan   reactSpan'; /** This value was chosen to be used to contain the custom .viteSpan, .plusSpan and .reactSpan selectors within this selector grid's first row, three columns. */

    --hea-h1--gtc : var( --vit-spa-col ) var( --plu-spa-col ) var( --rea-spa-col ); /** Header H1 Grid Template Columns ~= 1186.620px @1920px width = This custom property stores the grid template columns value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --plu-spa-col : var( --col-gap-med );                                           /** Plus Span Column                ~=   25.259px @1920px width = This custom property stores the width of the custom .plusSpan selector's column within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template columns custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --rea-spa-col : calc( 50% - ( var( --plu-spa-col ) / 2 ) );                     /** React Span Column               ~=  280.117px @1920px width = This custom property stores the width of the custom .reactSpan selector's column within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template columns custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --vit-spa-col : calc( 50% - ( var( --plu-spa-col ) / 2 ) );                     /** Vite Span Column                ~=  280.117px @1920px width = This custom property stores the width of the custom .viteSpan selector's column within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template columns custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */

    /* #endregion Selector Scoped Custom Properties */


    align-items           : center;               /** This value was chosen to be used to vertically center the custom .viteSpan, .plusSpan and .reactspan selectors within their grid areas, with the idea behind this being to more evenly distribute the space between them and the elements below them and creating a better visual, aesthetic balance. */
    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : headerH1;             /** This value was chosen to be used to place this selector within the custom .homeHeader selector grid area's first row, full width column. */
    grid-template-areas   : var( --hea-h1--gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : var( --hea-h1--gtc ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-rows    : 100%;                 /** This value was chosen to be used to fill rows using all available vertical space as defined by its parent, the custom .homeHeader selector. */
    font-size             : var( --hea-one-siz ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
    line-height           : var( --hea-one-siz ); /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */

}



/* #region Vite Span */

.viteSpan { /** Vite Span = This custom selector contains the custom 'Vite' text and is the custom .headerH1 selector's first grid column, only grid row. */

    grid-area     : viteSpan;             /** This value was chosen to be used to place this selector within the custom .headerH1 selector grid area's first column, full height row. */
    justify-self  : end;                  /** This value was chosen to be used to horizontally align this selector to the end (right side) of its grid area, with the idea behind this being to further align itself with the Vite logo anchor/image and the increment button. */
    width         : var( --hab-sha-wid ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}

/* #endregion Vite Span */



/* #region Plus Span */

.plusSpan { /** Plus Span = This custom selector contains the custom '+' text and is the custom .headerH1 selector's second grid column, only grid row. */

    grid-area    : plusSpan; /** This value was chosen to be used to place this selector within the custom .headerH1 selector grid area's second column, full height row. */
    justify-self : center;   /** This value was chosen to be used to horizontally align this selector to the center of its grid area, with the idea behind this being to further align itself with the spacing of the custom .headerDiv and .buttonDiv selector's column gap. */

}

/* #endregion Plus Span */



/* #region React Span */

.reactSpan { /** React Span = This custom selector contains the custom 'React' text and is the custom .headerH1 selector's third grid column, only grid row. */

    grid-area    : reactSpan;            /** This value was chosen to be used to place this selector within the custom .headerH1 selector grid area's third column, full height row. */
    justify-self : start;                /** This value was chosen to be used to horizontally align this selector to the start (left side) of its grid area, with the idea behind this being to further align itself with the React logo anchor/image and the decrement button. */
    width        : var( --hab-sha-wid ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}

/* #endregion React Span */


/* #endregion Header H1 */



/* #region Header Div */

.headerDiv { /** Header Div = This custom selector contains the custom shared .headerAnchors selector which includes also the custom .viteAnchor and .reactAnchor selectors and is the custom .homeHeader selector's second grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --hea-div-gta :                 /** Header Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'viteAnchor   reactAnchor'; /** This value was chosen to be used to contain the custom .viteAnchor and .reactAnchor selectors within this selector grid's first row, two columns. */

    --hea-div-gtc : var( --vit-anc-col ) var( --rea-anc-col );  /** Header Div Grid Template Columns ~= 364.900px @1920px width = This custom property stores the grid template columns value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --rea-anc-col : calc( 50% - ( var( --col-gap-med ) / 2 ) ); /** React Anchor Column              ~= 280.117px @1920px width = This custom property stores the width of the custom .reactAnchor selector's column within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template columns custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --vit-anc-col : calc( 50% - ( var( --col-gap-med ) / 2 ) ); /** Vite Anchor Column               ~= 280.117px @1920px width = This custom property stores the width of the custom .viteAnchor selector's column within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template columns custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */

    /* #endregion Selector Scoped Custom Properties */


    align-items           : center;               /** This value was chosen to be used to vertically center the custom .viteAnchor and .reactAnchor selectors within their grid areas, with the idea behind this being to more evenly distribute the space between them and the elements below them and creating a better visual, aesthetic balance. */
    column-gap            : var( --col-gap-med ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : headerDiv;            /** This value was chosen to be used to place this selector within the custom .homeHeader selector grid area's second row, full width column. */
    grid-template-areas   : var( --hea-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : var( --hea-div-gtc ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-rows    : 100%;                 /** This value was chosen to be used to fill rows using all available vertical space as defined by its parent, the custom .homeHeader selector. */

}



/* #region Header Anchors */

.headerAnchors { /** Header Anchors = These custom selectors contain the shared styles for the custom .viteAnchor and .reactAnchor selectors and are the custom .headerDiv selector's first and second grid columns, only grid row. */

    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .headerDiv selector. */
    grid-template-rows    : 100%;                 /** This value was chosen to be used to fill rows using all available vertical space as defined by its parent, the custom .headerDiv selector. */
    justify-items         : center;               /** This value was chosen to be used to horizontally center the custom .headerImgs selectors within their grid areas, with the idea behind this being to align them with the H1 text above them and the increment/decrement buttons below them. */
    width                 : var( --hab-sha-wid ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}



/* #region Vite Anchor */

.viteAnchor { /** Vite Anchor = This custom selector contains the custom .viteImg selector and is the custom .headerDiv selector's first grid column, only grid row. */

    /* #region Selector Scoped Custom Properties */

    --vit-anc-gta : /** Vite Anchor Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'viteImg';  /** This value was chosen to be used to contain the custom .viteImg selector within this selector grid's only row, only column. */

    /* #endregion Selector Scoped Custom Properties */


    grid-area           : viteAnchor;           /** This value was chosen to be used to place this selector within the custom .headerDiv selector grid area's first column, full height row. */
    grid-template-areas : var( --vit-anc-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    justify-self        : end;                  /** This value was chosen to be used to horizontally align this selector to the right side of its grid area, with the idea behind this being to align itself with the Vite text above it and the increment button below it. */

}

/* #endregion Vite Anchor */



/* #region React Anchor */

.reactAnchor { /** React Anchor = This custom selector contains the custom .reactImg selector and is the custom .headerDiv selector's second grid column, only grid row. */

    /* #region Selector Scoped Custom Properties */

    --rea-anc-gta : /** React Anchor Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'reactImg'; /** This value was chosen to be used to contain the custom .reactImg selector within this selector grid's only row, only column. */

    /* #endregion Selector Scoped Custom Properties */


    grid-area           : reactAnchor;          /** This value was chosen to be used to place this selector within the custom .headerDiv selector grid area's second column, full height row. */
    grid-template-areas : var( --rea-anc-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    justify-self        : start;                /** This value was chosen to be used to horizontally align this selector to the left side of its grid area, with the idea behind this being to align itself with the React text above it and the decrement button below it. */

}

/* #endregion React Anchor */


/* #endregion Header Anchors */



/* #region Header Images */

.headerImgs { /** Header Images = These custom selectors contain the shared styles for the custom .viteImg and .reactImg selectors and are the custom .headerAnchors selector's only grid columns, only grid rows. */

    /* #region Selector Scoped Custom Properties */

    --dro-sha-col : var( --col-bra-sec );                      /** Drop Shadow Color         = This custom property stores the drop shadow color using the specified global scoped prime custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the drop shadow color directly. */
    --hea-img-drs : drop-shadow( 0 0 0 var( --dro-sha-col ) ); /** Header Images Drop Shadow = This custom property stores all of the drop shadow properties using the specified selector scoped custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the drop shadow color directly. */
    --hea-img-fil : var( --hea-img-drs );                      /** Header Images Filter      = This custom property stores the filter using the specified selector scoped custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the drop shadow color directly. */
    --hea-img-tra : filter var( --tra-dur-bas ) ease-in-out;   /** Header Images Transition  = This custom property stores the transition for the hover state using the specified selector scoped custom property, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    /* #endregion Selector Scoped Custom Properties */


    filter      : var( --hea-img-fil ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height      : var( --ver-rhy-max ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    transition  : var( --hea-img-tra ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    width       : var( --hor-rhy-max ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    will-change : filter;               /** This value was chosen to be used in order to inform the browser that the filter property will be changing on hover, so that the browser can optimize for this change and ensure a smoother transition effect. */

}


.headerImgs:hover { /** Header Images Hover = These custom selectors contain the shared styles for the custom .viteImg and .reactImg selectors and are the custom .headerAnchors selector's only grid columns, only grid rows. */


    /* #region Selector Scoped Custom Properties */

    --hea-img-drs : drop-shadow( 0 0 var( --blu-rad-max ) var( --dro-sha-col ) ); /** Header Images Drop Shadow = This custom property stores all of the drop shadow properties using the specified global scoped derivative custom property and selector scoped custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the drop shadow color directly. */
    --hea-img-fil : var( --hea-img-drs );                                         /** Header Images Filter      = This custom property stores the filter using the specified selector scoped custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the drop shadow color directly. */

    /* #endregion Selector Scoped Custom Properties */


}

/* #endregion Header Images */



/* #region Header Images + Vite Image */

.headerImgs:where( .viteImg ) { /** Header Images Where Vite Image Exists = This custom selector contains the official Vite logo and is the custom .headerAnchors selector's only grid column, only grid row. The :where() functional pseudo class selector's key feature is that it always has a specificity of zero, making it ideal for applying styles that are easy to override. */


    /* #region Selector Scoped Custom Properties */

    --dro-sha-col : var( --col-bra-acc ); /** Drop Shadow Color = This custom property stores the drop shadow color using the specified global scoped prime custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the drop shadow color directly. */

    /* #endregion Selector Scoped Custom Properties */


}

/* #endregion Header Images + Vite Image */



/* #region Vite Image */

.viteImg { /** Vite Image = This custom selector contains the official Vite logo and is the custom .viteAnchor selector's only grid column, only grid row. */

    grid-area : viteImg; /** This value was chosen to be used to place this selector within the custom .viteAnchor selector grid area's full width column, full height row. */

}

/* #endregion Vite Image */



/* #region Header Images + React Image */

.headerImgs:where( .reactImg ) { /** Header Images Where React Image Exists = This custom selector contains the official React logo and is the custom .headerAnchors selector's only grid column, only grid row. The :where() functional pseudo class selector's key feature is that it always has a specificity of zero, making it ideal for applying styles that are easy to override. */


    /* #region Selector Scoped Custom Properties */

    --dro-sha-col : var( --col-bra-mai ); /** Drop Shadow Color = This custom property stores the drop shadow color using the specified global scoped prime custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the drop shadow color directly. */

    /* #endregion Selector Scoped Custom Properties */


}

/* #endregion Header Images + React Image */



/* #region React Image */

.reactImg { /** React Image = This custom selector contains the official React logo and is the custom .reactAnchor selector's only grid column, only grid row. */

    grid-area   : reactImg; /** This value was chosen to be used to place this selector within the custom .reactAnchor selector grid area's full width column, full height row. */

}



/* #region React Image Animation */

@keyframes rea-log-spi { /** React Logo Spin = This custom keyframes stores the animation for the custom .reactImg selector, with the idea behind this being that it will continously spin the React logo in a complete 360 degree rotation. */


    from { /** From = This standard selector defines the starting state of the animation. */

        transform : rotate( 0deg ); /** This value was chosen to be used to start the animation from a completely unrotated state. */

    }



    to { /** To = This standard selector defines the ending state of the animation. */

        transform : rotate( 360deg ); /** This value was chosen to be used to end the animation at a full rotation, with the idea behind this being that it will create a continuous spinning effect when the animation loops back to the from selector. */

    }


}

/* #endregion React Image Animation */



/* #region Media Query for Reduced Motion */

@media ( prefers-reduced-motion : no-preference ) { /** Reduced Motion = This standard media query selector targets users who have not expressed a preference for reduced motion, with the idea behind this being that it will allow animations to run normally for said users. */


    .reactAnchor .reactImg { /** React Anchor React Image = This custom selector contains the custom .reactImg selector and the official React logo and is the custom .headerDiv selector's second grid column, only row and the custom .reactAnchor selector's only grid column, only grid row. */

        /* #region Selector Scoped Custom Properties */

        --rls-ani-dur : calc( pow( var( --golden-rati ), 6 ) * 1s ); /** ~= 17.944s = React Logo Spin Animation Duration = This custom property stores the duration in seconds for the custom React Logo Spin animation's total duration for a single complete 360 degree spin, with the idea behind this being to create a duration based on the golden ratio that is not too fast and not too slow. */

        /* #endregion Selector Scoped Custom Properties */


        animation : rea-log-spi infinite var( --rls-ani-dur ) linear; /** This value was chosen to be used to apply the custom React Logo Spin animation using the specified selector scoped custom property. */

    }


}

/* #endregion Media Query for Reduced Motion */


/* #endregion React Image */


/* #endregion Header Div */


/* #endregion Home Header */



/* #region Content Div */

.contentDiv { /** Content Div = This custom selector contains the custom .buttonDiv, .editParagraph, .learnParagraph and .dataParagraph selectors and is the custom .homeSection selector's second grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --con-div-gta :       /** Content Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        '  buttonDiv   '  /** This value was chosen to be used to contain the custom .buttonDiv selector within this selector grid's first row, full width column. */
        'editParagraph '  /** This value was chosen to be used to contain the custom .editParagraph selector within this selector grid's second row, full width column. */
        'learnParagraph'; /** This value was chosen to be used to contain the custom .learnParagraph selector within this selector grid's third row, full width column. */

    --con-div-gtr : repeat( 3, var( --gri-rep-row ) );                      /** Content Div Grid Template Rows ~= 1186.620px @1080px height = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --gri-rep-row : calc( 33.333% - ( ( var( --row-gap-lar ) * 2 ) / 3 ) ); /** Grid Repeat Rows               ~=   59.800px @1080px height = This custom property stores the height of the custom .buttonDiv, .editParagraph, .learnParagraph and .dataParagraph selectors' rows within this selector's grid, with the idea behind this being that all four rows are one line only and have the exact same line height which means that all available vertical space should be distributed evenly between them. */

    /* #endregion Selector Scoped Custom Properties */


    align-items           : center;               /** This value was chosen to be used to vertically center the custom .buttonDiv, .editParagraph, .learnParagraph and .dataParagraph selectors within their grid areas, with the idea behind this being to more evenly distribute the space between them and the elements below them and creating a better visual, aesthetic balance. */
    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : contentDiv;           /** This value was chosen to be used to place this selector within the custom .homeSection selector grid area's second row, full width column. */
    grid-template-areas   : var( --con-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .homeSection selector. */
    grid-template-rows    : var( --con-div-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    row-gap               : var( --row-gap-lar ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */

}



/* #region Button Div */

.buttonDiv { /** Button Div = This custom selector contains the custom .incrementButton and .decrementButton selectors and is the custom .contentDiv selector's first grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --but-div-gta :                           /** Button Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'incrementButton   decrementButton '; /** This value was chosen to be used to contain the custom .incrementButton and .decrementButton selectors within this selector grid's first row, two columns. */

    --but-div-gtc : var( --inc-but-col ) var( --dec-but-col );  /** Button Div Grid Template Columns ~= 1186.620px @1920px width = This custom property stores the grid template columns value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --dec-but-col : calc( 50% - ( var( --col-gap-med ) / 2 ) ); /** Decrement Button Column          ~=  280.117px @1920px width = This custom property stores the width of the custom .decrementButton selector's column within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template columns custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --inc-but-col : calc( 50% - ( var( --col-gap-med ) / 2 ) ); /** Increment Button Column          ~=  280.117px @1920px width = This custom property stores the width of the custom .incrementButton selector's column within this selector's grid, with the idea behind this being that by using a custom property to store this value it makes the grid template columns custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */

    /* #endregion Selector Scoped Custom Properties */


    column-gap            : var( --col-gap-med ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : buttonDiv;            /** This value was chosen to be used to place this selector within the custom .contentDiv selector grid area's first column, full height row. */
    grid-template-areas   : var( --but-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : var( --but-div-gtc ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-rows    : 100%;                 /** This value was chosen to be used to fill rows using all available vertical space as defined by its parent, the custom .contentDiv selector. */

}



/* #region Content Buttons */

.contentButtons { /** Content Buttons = These custom selectors contain the shared styles for the custom .incrementButton and .decrementButton selectors and are the custom .buttonDiv selector's two grid columns, only grid row. */

    width : var( --hab-sha-wid ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}



/* #region Increment Button */

.incrementButton { /** Increment Button = This custom selector contains the custom button and is the custom .buttonDiv selector's first grid column, only grid row. */

    grid-area    : incrementButton; /** This value was chosen to be used to place this selector within the custom .buttonDiv selector grid area's first column, full height row. */
    justify-self : end;             /** This value was chosen to be used to horizontally align this selector to the right side of its grid area, with the idea behind this being to align itself with the Vite text and logo above it. */

}

/* #endregion Increment Button */



/* #region Decrement Button */

.decrementButton { /** Decrement Button = This custom selector contains the custom button and is the custom .buttonDiv selector's second grid column, only grid row. */

    grid-area    : decrementButton; /** This value was chosen to be used to place this selector within the custom .buttonDiv selector grid area's second column, full height row. */
    justify-self : start;           /** This value was chosen to be used to horizontally align this selector to the left side of its grid area, with the idea behind this being to align itself with the React text and logo above it. */

}

/* #endregion Decrement Button */


/* #endregion Content Buttons */


/* #endregion Button Div */



/* #region Edit Paragraph */

.editParagraph { /** Edit Paragraph = This custom selector contains the custom .editCode selector and is the .contentDiv selector's second grid row, only grid column. */

    align-content : center;               /** This value was chosen to be used to vertically center this selector within its grid area, with the idea behind this being that with so little content it is more aesthetically pleasing to be centered within its grid area. */
    grid-area     : editParagraph;        /** This value was chosen to be used to place this selector within the custom .contentDiv selector grid area's second row, full width column. */
    height        : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .contentDiv selector. */
    line-height   : var( --ver-rhy-bas ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */

}



/* #region Edit Code */

.editCode { /** Edit Code = This custom selector contains the custom code text and is the .editParagraph selector's inline block child. */

    height      : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .editParagraph selector. */
    line-height : var( --ver-rhy-bas ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */

}

/* #endregion Edit Code */


/* #endregion Edit Paragraph */



/* #region Learn Paragraph */

.learnParagraph { /** Learn Paragraph = This custom selector contains the custom paragraph text and is the .contentDiv selector's third grid row, only grid column. */

    align-content : center;               /** This value was chosen to be used to vertically center this selector within its grid area, with the idea behind this being that with so little content it is more aesthetically pleasing to be centered within its grid area. */
    grid-area     : learnParagraph;       /** This value was chosen to be used to place this selector within the custom .contentDiv selector grid area's third row, full width column. */
    height        : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .contentDiv selector. */
    line-height   : var( --ver-rhy-bas ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */

}

/* #endregion Learn Paragraph */


/* #endregion Content Div */


/* #endregion Home Section */


