
/* #region Font Face Declarations */

@font-face { /** This standard selector contains a custom font family along with its source and allows web developers to use custom fonts not installed on a user's computer. */

    font-family : 'Rubik Glitch';                                         /** This value was chosen to be used as the font family for the custom .hackedH1 and .hackedParagraph selectors. */
    src         : url( '../../../assets/fonts/RubikGlitch-Regular.ttf' ); /** This value was chosen to be used in order to host the font file locally. */

}

@font-face { /** This standard selector contains a custom font family along with its source and allows web developers to use custom fonts not installed on a user's computer. */

    font-family : 'Gloria Hallelujah';                                         /** This value was chosen to be used as the font family for the custom .snowfallParagraph selector. */
    src         : url( '../../../assets/fonts/GloriaHallelujah-Regular.ttf' ); /** This value was chosen to be used in order to host the font file locally. */

}

@font-face { /** This standard selector contains a custom font family along with its source and allows web developers to use custom fonts not installed on a user's computer. */

    font-family : 'Mountains of Christmas';                                     /** This value was chosen to be used as the font family for the custom .snowfallH1 and .snowfallParagraph selectors. */
    src         : url( '../../../assets/fonts/MountainsofChristmas-Bold.ttf' ); /** This value was chosen to be used in order to host the font file locally. */

}

/* #endregion Font Face Declarations */



/* #region Component Scoped Custom Properties */

.christmasCardDiv { /** Christmas Card Div = This custom selector contains the custom .squaresDiv, .hackedSection and .snowfallSection selectors, is the custom .appMain selector's only child and is this component's root selector. */


    --neg-x-offse : calc( var( --x-offse-min ) * -1 ); /** Negative X Offset = This custom property stores the negative value of the specified global scoped derivative custom property, with the idea behind this being that storing this value here makes the custom properties that use it cleaner and easier to read. */
    --neg-y-offse : calc( var( --y-offse-min ) * -1 ); /** Negative Y Offset = This custom property stores the negative value of the specified global scoped derivative custom property, with the idea behind this being that storing this value here makes the custom properties that use it cleaner and easier to read. */

    --top-lef-tes : var( --neg-x-offse ) var( --neg-y-offse ) var( --blu-rad-med ) var( --col-tex-sha ); /** Top Left Text Shadow     = This custom property stores all of the text shadow properties for the top left text shadow using the values of the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being that storing this value here makes it easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --top-rig-tes : var( --x-offse-min ) var( --neg-y-offse ) var( --blu-rad-med ) var( --col-tex-sha ); /** Top Right Text Shadow    = This custom property stores all of the text shadow properties for the top right text shadow using the values of the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being that storing this value here makes it easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --bot-lef-tes : var( --neg-x-offse ) var( --y-offse-min ) var( --blu-rad-med ) var( --col-tex-sha ); /** Bottom Left Text Shadow  = This custom property stores all of the text shadow properties for the bottom left text shadow using the values of the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being that storing this value here makes it easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --bot-rig-tes : var( --x-offse-min ) var( --y-offse-min ) var( --blu-rad-med ) var( --col-tex-sha ); /** Bottom Right Text Shadow = This custom property stores all of the text shadow properties for the bottom right text shadow using the values of the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being that storing this value here makes it easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */

    --sel-sha-tes : var( --top-lef-tes ), var( --top-rig-tes ), var( --bot-lef-tes ), var( --bot-rig-tes ); /** Selector Shared Text Shadow = This custom property stores all of the text shadow properties for this section using the values of the specified component scoped custom properties, with the idea behind this being that the text for this digital card can be somewhat hard to read and adding a text shadow seemed the most effective solution while also adding a slight depth to the text and making it look like the text was overlaid on top of the card. */

    --sel-sha-mar : var( --mar-ver-bas ) var( --mar-hor-bas ); /** Selector Shared Margin = This custom property stores the margins for multiple selectors using the specified global scoped second derivative custom properties, with the idea behind this being to maintain consistency and ease of maintenance for the shared selectors. */


}

/* #endregion Component Scoped Custom Properties */



/* #region Christmas Card Div */

.christmasCardDiv { /** Christmas Card Div = This custom selector contains the custom .squaresDiv, .hackedSection and .snowfallSection selectors, is the custom .appMain selector's only child and is this component's root selector. */

    /** NOTE: Yes, these settings will hide the navbar and footer which will hide the main navigation links, but this digital card works best this way. I do plan on adding an "Exit Fullscreen" button at some point in the future though. */

    height   : 100vh; /** This value was chosen to be used to set the height to 100% of the viewport height, with the idea behind this being that this digital card works best in fullscreen. */
    left     : 0;     /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    position : fixed; /** This value was chosen to be used to maintain a fixed position for this selector, with the idea behind this being that this digital card works best in fullscreen. */
    top      : 0;     /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    width    : 100vw; /** This value was chosen to be used to set the width to 100% of the viewport width, with the idea behind this being that this digital card works best in fullscreen. */

}



/* #region Pixels Container Div */

.pixelsContainerDiv { /** Pixels Container Div = This custom selector contains the custom .pixelDivs selectors, is the container for the pixelated transition animation and is the first child of the custom .christmasCardDiv selector. */

    display  : grid;  /** This value was chosen to be used because it is required by the pixelated transition animation in the Javascript code in order to dynamically calculate the exact number of grid columns and rows according to the viewport dimensions (with no gaps between the .pixelDivs and no extra .pixelDivs overflowing), with the idea behind this being that the grid template columns and grid template rows properties will be defined via Javascript when the component loads. */
    gap      : 0;     /** This value was chosen to be used in order to remove any possible gaps between the custom .pixelDivs selectors, with the idea behind this being that this is needed in order for the pixelated transition animation fully cover each section before being faded out (or in) to reveal (or cover) the next section. */
    height   : 100vh; /** This value was chosen to be used to set the height to 100% of the viewport height, with the idea behind this being that this digital card works best in fullscreen. */
    left     : 0;     /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    position : fixed; /** This value was chosen to be used to maintain a fixed position for this selector, with the idea behind this being that this digital card works best in fullscreen. */
    top      : 0;     /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    width    : 100vw; /** This value was chosen to be used to set the width to 100% of the viewport width, with the idea behind this being that this digital card works best in fullscreen. */
    z-index  : 2;     /** This value was chosen to be used in order to overlay on top of the custom .snowfallSection selector which has a z index of 1, with the idea behind this being that both selectors need to be layered on top of the custom .hackedSection selector in order for the animations to run and display properly. */

}



/* #region Pixel Divs */

.pixelDivs { /** Pixel Divs = These custom selectors contain the custom divs that are used as the pixels for the pixelated transition animation and are all children of the custom .pixelsContainerDiv selector. */

    background-color : var( --col-bac-col ); /** This value was chosen to be used to match the background color of the page using the specified global scoped prime custom property, with the idea behind this being to ensure that the pixelated transition animation blends seamlessly with the rest of the page. */

}

/* #endregion Pixel Divs */


/* #endregion Pixels Container Div */



/* #region Hacked Section */

.hackedSection { /** Hacked section = This custom selector contains the custom .hackedHeader selector and is the second child of the custom .christmasCardDiv selector. */

    /* #region Selector Scoped Custom Properties */

    /** These are technically section scoped but placing and labelling them here makes my intention clear that these are intended for use in this selector only. */

    --bac-img-url : url( '../../../assets/pirate-background.jpg' ); /** Background Image URL      = This custom property stores the cartoony, pirate skull and crossbones image on a black background, with the idea behind this being that the image matches the hacked theme (pirate <-> hacker) of this section. */
    --has-tex-col : var( --col-err-sta );                           /** Hacked Section Text Color = This custom property stores the red text color for this section using the specified global scoped prime custom property, with the idea behind this being that it matches the hacked theme (danger, warning, etc...) of this section. */

    /* #endregion Selector Scoped Custom Properties */


    background-image    : var( --bac-img-url ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    background-position : center;               /** This value was chosen to be used to center the background image, with the idea behind this being that because of the use of the background size cover value it will need to be repositioned to make sure the main part of the image is showing. */
    background-repeat   : no-repeat;            /** This value was chosen to be used in order to prevent the background image from repeating in a tile like fashion. */
    background-size     : cover;                /** This value was chosen to be used in order to makes sure that the background image covers the entirety of the section area. */
    color               : var( --has-tex-col ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height              : 100vh;                /** This value was chosen to be used to set the height to 100% of the viewport height, with the idea behind this being that this digital card works best in fullscreen. */
    left                : 0;                    /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    position            : fixed;                /** This value was chosen to be used to maintain a fixed position for this selector, with the idea behind this being that this digital card works best in fullscreen. */
    text-align          : center;               /** This value was chosen to be used to horizontally center all of this selector's text, with the idea behind this being that it is more aesthetically pleasing when centered. */
    top                 : 0;                    /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    width               : 100vw;                /** This value was chosen to be used to set the width to 100% of the viewport width, with the idea behind this being that this digital card works best in fullscreen. */

}



/* #region Hacked Header */

.hackedHeader { /** Hacked Header = This custom selector contains the custom .hackedH1 and .hackedParagraph selectors and is the only child of the custom .hackedSection selector. */

    height : 100%; /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .hackedSection selector. */
    width  : 100%; /** This value was chosen to be used to fill all available horizontal space as defined by its parent, the custom .hackedSection selector. */

}



/* #region Hacked H1 */

.hackedH1 { /** Hacked H1 = This custom selector contains the custom text that serves as the title for this section and is the first child of the custom .hackedSection selector. */

    font-family : 'Rubik Glitch', cursive; /** This value was chosen to be used because this font pairs nicely with GSAP glitch effect animation on this same element (as well as with the theme of this section in general), with the idea behind this being that the outlines of the text appearing in a zigzagging type of manner are aesthetically similar to the distortion effect of the glitch animation. */
    font-size   : var( --hea-one-siz );    /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
    line-height : var( --hea-one-siz );    /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */
    margin      : var( --sel-sha-mar );    /** This value was chosen to be used according to the details of the specified component scoped custom property. */
    text-shadow : var( --sel-sha-tes );    /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}



/* #region Media Query for Small Viewport Widths */

@media ( max-width : 842.999px ) { /** Golden Ratio to the 14th Power = This custom media query selector targets all viewport widths below 843.000px. */


    .hackedH1 { /** Hacked H1 = This custom selector contains the custom text that serves as the title for this section and is the first child of the custom .hackedSection selector. */

        font-size   : var( --hea-one-siz ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
        line-height : var( --hea-one-siz ); /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */

    }


}

/* #endregion Media Query for Small Viewport Widths */


/* #endregion Hacked H1 */



/* #region Hacked Paragraph */

.hackedParagraph { /** Hacked Paragraph = This custom selector contains the custom text that serves as the "Just kidding..." message for this section and is the second child of the custom .hackedSection selector. */

    bottom      : 0;                       /** This value was chosen to be used to position this selector in the very bottom of the viewport, with the idea behind this being to place this text opposite of the custom .hackedH1 selector leaving the middle of the page empty for showing the background image. */
    font-family : 'Rubik Glitch', cursive; /** This value was chosen to be used because this font pairs nicely with GSAP glitch effect animation on this same element (as well as with the theme of this section in general), with the idea behind this being that the outlines of the text appearing in a zigzagging type of manner are aesthetically similar to the distortion effect of the glitch animation. */
    font-size   : var( --fon-siz-xla );    /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    line-height : var( --fon-siz-xla );    /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */
    margin      : var( --sel-sha-mar );    /** This value was chosen to be used according to the details of the specified component scoped custom property. */
    position    : absolute;                /** This value was chosen to be used to position this selector in the very bottom of the viewport, with the idea behind this being to place this text opposite of the custom .hackedH1 selector leaving the middle of the page empty for showing the background image. */
    text-shadow : var( --sel-sha-tes );    /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}



/* #region Media Query for Small Viewport Widths */

@media ( max-width : 842.999px ) { /** Golden Ratio to the 14th Power = This custom media query selector targets all viewport widths below 843.000px. */


    .hackedParagraph { /** Hacked Paragraph = This custom selector contains the custom text that serves as the "Just kidding..." message for this section and is the second child of the custom .hackedSection selector. */

        font-size   : var( --fon-siz-xla ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
        line-height : var( --fon-siz-xla ); /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */

    }


}

/* #endregion Media Query for Small Viewport Widths */


/* #endregion Hacked Paragraph */


/* #endregion Hacked Header */


/* #endregion Hacked Section */



/* #region Snowfall Section */

.snowfallSection { /** Snowfall section = This custom selector contains the custom .snowfallH1, .snowfallImage, and .snowfallParagraph selectors and is the third child of the custom .christmasCardDiv selector. */

    /* #region Selector Scoped Custom Properties */

    /** These are technically section scoped but placing and labelling them here makes my intention clear that these are intended for use in this selector only. */

    --bac-img-url : url( '../../../assets/snowy-background.jpg' ); /** Background Image URL        = This custom property stores the cartoony, snowy cabin in the woods image, with the idea behind this being that the image matches the snowfall theme of this section. */
    --sns-tex-col : var( --col-bac-lig );                          /** Snowfall Section Text Color = This custom property stores the white text color for this section using the specified global scoped prime custom property (for the light theme), with the idea behind this being that it matches the snowfall theme (snow <-> white) of this section. */

    /* #endregion Selector Scoped Custom Properties */


    background-image    : var( --bac-img-url ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    background-position : center;               /** This value was chosen to be used to center the background image, with the idea behind this being that because of the use of the background size cover value it will need to be repositioned to make sure the main part of the image is showing. */
    background-repeat   : no-repeat;            /** This value was chosen to be used in order to prevent the background image from repeating in a tile like fashion. */
    background-size     : cover;                /** This value was chosen to be used in order to makes sure that the background image covers the entirety of the section area. */
    color               : var( --sns-tex-col ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height              : 100vh;                /** This value was chosen to be used to set the height to 100% of the viewport height, with the idea behind this being that this digital card works best in fullscreen. */
    left                : 0;                    /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    opacity             : 0;                    /** This value was chosen to be used because to visually hide this section on component mount, with the idea behind this being that this section needs to be hidden so that it does not cover the custom .hackedSection selector and then this property will be animted to a value of 1 by the GSAP timeline when it is time to show this selector. */
    position            : fixed;                /** This value was chosen to be used to maintain a fixed position for this selector, with the idea behind this being that this digital card works best in fullscreen. */
    z-index             : 1;                    /** This value was chosen to be used in order to overlay on top of the custom .hackedSection selector which has a z index of 0, with the idea behind this being that both this selector and the custom .pixelsContainerDiv selector need to be layered on top of the custom .hackedSection selector in order for the animations to run and display properly. */
    text-align          : center;               /** This value was chosen to be used to horizontally center all of this selector's text, with the idea behind this being that it is more aesthetically pleasing when centered. */
    top                 : 0;                    /** This value was chosen to be used to position this selector in the very top left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    width               : 100vw;                /** This value was chosen to be used to set the width to 100% of the viewport width, with the idea behind this being that this digital card works best in fullscreen. */

}



/* #region Media Query for Small Viewport Widths */

@media ( max-width : 842.999px ) { /** Golden Ratio to the 14th Power = This custom media query selector targets all viewport widths below 843.000px. */


    .snowfallSection { /** Snowfall section = This custom selector contains the custom .snowfallH1, .snowfallImage, and .snowfallParagraph selectors and is the third child of the custom .christmasCardDiv selector. */

        background-position : 90% 90%; /** This value was chosen to be used in order to shift the background image towards the bottom right'ish area for better composition on smaller viewport widths, with the idea behind this being that said positioning is where the main draw of the image is at and the center of the image is basically dead space. */

    }


}

/* #endregion Media Query for Small Viewport Widths */



/* #region Snowfall Header */

.snowfallHeader { /** Snowfall Header = This custom selector contains the custom .snowfallH1, .snowfallImg and .snowfallParagraph selectors and is the only child of the custom .snowfallSection selector. */

    height : 100%; /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .snowfallSection selector. */
    width  : 100%; /** This value was chosen to be used to fill all available horizontal space as defined by its parent, the custom .snowfallSection selector. */

}




/* #region Snowfall H1 */

.snowfallH1 { /** Snowfall H1 = This custom selector contains the custom text that serves as the title for this section and is the first child of the custom .snowfallSection selector. */

    font-family : 'Mountains of Christmas', cursive; /** This value was chosen to be used because this font pairs nicely with the snowfall theme, with the idea behind this being that the styling of the text is reminiscent of a whimsical, Christmas themed cartoon. */
    font-size   : var( --hea-one-siz );              /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
    line-height : var( --hea-one-siz );              /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */
    margin      : var( --sel-sha-mar );              /** This value was chosen to be used according to the details of the specified component scoped custom property. */
    text-shadow : var( --sel-sha-tes );              /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}



/* #region Media Query for Small Viewport Widths */

@media ( max-width : 842.999px ) { /** Golden Ratio to the 14th Power = This custom media query selector targets all viewport widths below 843.000px. */


    .snowfallH1 { /** Snowfall H1 = This custom selector contains the custom text that serves as the title for this section and is the first child of the custom .snowfallSection selector. */

        font-size   : var( --hea-one-siz ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
        line-height : var( --hea-one-siz ); /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */

    }


}

/* #endregion Media Query for Small Viewport Widths */


/* #endregion Snowfall H1 */



/* #region Snowfall Image */

.snowfallImg { /** Snowfall Image = This custom selector contains the custom image of a snowman and is the second child of the custom .snowfallSection selector. */

    /* #region Selector Scoped Custom Properties */

    --sno-img-drs : drop-shadow( 0 var( --y-offse-lar ) var( --blu-rad-med ) var( --col-tex-sha ) ); /** Snowfall Image Drop Shadow        = This custom property stores all of the drop shadow properties using the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --sno-img-rot : rotateZ( calc( pow( var( --golden-rati ), 4 ) * 1deg ) );                        /** Snowfall Image Rotate ~= 6.854deg = This custom property stores the rotation of this selector's transform using the specified global scoped prime custom property, with the idea behind this being that a small rotation adds a touch of whimsy which pairs well with the fun, festive theme of this component. */

    /* #endregion Selector Scoped Custom Properties */


    bottom    : 0;                    /** This value was chosen to be used to position this selector in the very bottom left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    filter    : var( --sno-img-drs ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    left      : 0;                    /** This value was chosen to be used to position this selector in the very bottom left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    margin    : var( --sel-sha-mar ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */
    position  : absolute;             /** This value was chosen to be used to position this selector in the very bottom left hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    transform : var( --sno-img-rot ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    width     : var( --hor-rhy-max ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */

}

/* #endregion Snowfall Image */

 

/* #region Snowfall Paragraph */

.snowfallParagraph { /** Snowfall Paragraph = This custom selector contains the custom .snowfallSpan selector and the custom ' Mr. Awesome' text and is the third child of the custom .snowfallSection selector. */

    bottom      : 0;                            /** This value was chosen to be used to position this selector in the very bottom right hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    font-family : 'Gloria Hallelujah', cursive; /** This value was chosen to be used because this font pairs nicely with the greeting card theme, with the idea behind this being that the styling of the text is a handwritten style which this text is meant to imitate (From, <handwritten name>). */
    font-size   : var( --fon-siz-xla );         /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    line-height : var( --fon-siz-xla );         /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */
    margin      : var( --sel-sha-mar );         /** This value was chosen to be used according to the details of the specified component scoped custom property. */
    position    : absolute;                     /** This value was chosen to be used to position this selector in the very bottom right hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    right       : 0;                            /** This value was chosen to be used to position this selector in the very bottom right hand corner of the viewport, with the idea behind this being that this digital card works best in fullscreen. */
    text-shadow : var( --sel-sha-tes );         /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}



/* #region Media Query for Small Viewport Widths */

@media ( max-width : 842.999px ) { /** Golden Ratio to the 14th Power = This custom media query selector targets all viewport widths below 843.000px. */


    .snowfallParagraph { /** Snowfall Paragraph = This custom selector contains the custom .snowfallSpan selector and the custom ' Mr. Awesome' text and is the third child of the custom .snowfallSection selector. */

        font-size   : var( --fon-siz-xla ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
        line-height : var( --fon-siz-xla ); /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */

    }


}

/* #endregion Media Query for Small Viewport Widths */



/* #region Snowfall Span */

.snowfallSpan { /** Snowfall Span = This custom selector contains the custom 'From' text and is the first child of the custom .snowfallParagraph selector. */

    font-family : 'Mountains of Christmas', cursive; /** This value was chosen to be used because this font pairs nicely with the snowfall theme, with the idea behind this being that the styling of the text is reminiscent of a whimsical, Christmas themed cartoon. */
    font-size   : var( --fon-siz-xla );              /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    line-height : var( --fon-siz-xla );              /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */
    text-shadow : var( --sel-sha-tes );              /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}



/* #region Media Query for Small Viewport Widths */

@media ( max-width : 842.999px ) { /** Golden Ratio to the 14th Power = This custom media query selector targets all viewport widths below 843.000px. */


    .snowfallSpan { /** Snowfall Span = This custom selector contains the custom 'From' text and is the first child of the custom .snowfallParagraph selector. */

        font-size   : var( --fon-siz-xla ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
        line-height : var( --fon-siz-xla ); /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */

    }


}

/* #endregion Media Query for Small Viewport Widths */


/* #endregion Snowfall Span */


/* #endregion Snowfall Paragraph */


/* #endregion Snowfall Header */


/* #endregion Snowfall Section */


/* #endregion Christmas Card Div */


