
/* #region Component Scoped Custom Properties */

.contactForm { /** Contact Form = This custom selector contains the custom .formFieldset selector, is the custom .appMain selector's only child and is this component's root selector. */


    --ibu-sha-bra : var( --bor-rad-med ); /** Input Button Shared Border Radius = This custom property stores the border radius for all the form's input selectors and for the submit button using the specified global scoped derivative custom property, with the idea behind this being that these elements should all be visually aligned. */

    --inp-gri-row : var( --ver-rhy-lar );                      /** Input Grid Row                 ~=  41.883px @1080px height = This custom property stores the height of the form's input selectors' (.nameInput, .emailInput) rows within their div's (.nameDiv, emailDiv and .messageDiv) grids using the specified global scoped derivative custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --lab-gri-row : calc( 100% - var( --inp-gri-row ) );       /** Label Grid Row                 ~=  41.883px @1080px height = This custom property stores the height of the form's label selectors' (.nameLabel, .emailLabel and .messageLabel) rows within their div's (.nameDiv, emailDiv and .messageDiv) grids, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --lab-inp-gtr : var( --lab-gri-row ) var( --inp-gri-row ); /** Label Input Grid Template Rows ~= 109.667px @1080px height = This custom property stores the grid template rows value for the form's div selectors' (.nameDiv, emailDiv) grids using the specified component scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    --lib-sha-wid : calc( var( --hor-rhy-max ) * pow( var( --golden-rati ), 3 )); /** Label Input Button Shared Width ~= 453.250px @1920px width = This custom property stores the width for the form's label, input and button selectors using the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being that these elements should all be visually aligned. */


}

/* #endregion Component Scoped Custom Properties */



/* #region Contact Form */

.contactForm { /** Contact Form = This custom selector contains the custom .formFieldset selector, is the custom .appMain selector's only child and is this component's root selector. */

    height : 100%; /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .appMain selector. */

}



/* #region Form Fieldset */

.formFieldset { /** Form Fieldset = This custom selector contains the custom .fieldsetLegend and .formDiv selectors and is the only child of the custom .contactForm selector. */

    /* #region Selector Scoped Custom Properties */

    --for-fie-gta :       /** Form Fieldset Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'fieldsetLegend'  /** This value was chosen to be used to contain the custom .fieldsetLegend selector within this selector grid's first row, full width column. */
        '   formDiv    '; /** This value was chosen to be used to contain the custom .formDiv selector within this selector grid's second row, full width column. */

    --fie-leg-row : var( --hea-one-siz );                                           /** Fieldset Legend Row                ~=  67.783px @1080px height = This custom property stores the height of the custom .fieldsetLegend selector's row within this selector's grid using the specified global scoped second derivative custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --for-div-row : calc( 100% - ( var( --fie-leg-row ) + var( --row-gap-xla ) ) ); /** Form Div Row                       ~=  67.783px @1080px height = This custom property stores the height of the custom .fieldsetLegend selector's row within this selector's grid using the specified selector scoped and global scoped second derivative custom properties, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --for-fie-gtr : var( --fie-leg-row ) var( --for-div-row );                      /** Forme Fieldset Grid Template Rows  ~= 725.100px @1080px height = This custom property stores the grid template rows value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-template-areas   : var( --for-fie-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .contactForm selector. */
    grid-template-rows    : var( --for-fie-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height                : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .contactForm selector. */
    row-gap               : var( --row-gap-xla ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */

}



/* #region Fieldset Legend */

.fieldsetLegend { /** Fieldset Legend = This custom selector contains the custom custom text that serves as the title for the form and is the custom .formFieldset selector's first grid row, only grid column. */

    float        : left;                 /** This value was chosen to be used because the legend selector was creating extra grid rows that kept pushing the custom .formFieldset selector's .formDiv grid row further down the page, and I tried everything I could think of to get it to behave properly but nothing else worked. Even the browser developer tools says this is an invalid property for a grid item, but if you uncheck this setting you will see that extra grid rows are being created and that the .formDiv selector will be pushed out of it's grid row placement. */
    font-size    : var( --hea-one-siz ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */
    grid-area    : fieldsetLegend;       /** This value was chosen to be used to place this selector within the custom .formFieldset selector grid area's first row, full width column. */
    height       : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .contactForm selector. */
    justify-self : center;               /** This value was chosen to be used to horizontally align this selector to the center of its grid area, with the idea behind this being that this page's content is more aesthetically pleasing when aligned to the middle of the viewport. */
    line-height  : var( --hea-one-siz ); /** This value was chosen to be used to set the line height equal to its corresponding font size, with the idea behind this being that it makes for better visual asthetics when used with short, one line text (headers especially). */

}

/* #endregion Fieldset Legend */



/* #region Form Div */

.formDiv { /** Form Div = This custom selector contains the custom .nameDiv, .emailDiv, .messageDiv and .submitDiv selectors and is the custom .formFieldset selector's second grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --for-div-gta :    /** Form Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        ' nameDiv  '   /** This value was chosen to be used to contain the custom .nameDiv selector within this selector grid's first row, full width column. */
        ' emailDiv '   /** This value was chosen to be used to contain the custom .emailDiv selector within this selector grid's second row, full width column. */
        ' messageDiv ' /** This value was chosen to be used to contain the custom .messageDiv selector within this selector grid's third row, full width column. */
        ' submitDiv '; /** This value was chosen to be used to contain the custom .submitDiv selector within this selector grid's fourth row, full width column. */

    --nes-com-hei : calc( var( --nam-div-row ) + var( --ema-div-row ) + var( --sub-div-row ) + calc( var( --row-gap-lar ) * 3 ) ); /** ~= 303.066px @1080px height = Name Email Submit Combined Height = This custom property stores the combined heights of the custom .nameDiv, .emailDiv, and .submitDiv selectors' rows plus the three large row gaps for this selector's grid using the specified selector scoped and global scoped second derivative custom properties, with the idea behind this being to make it easier to calculate the height of the custom .messageDiv selector's row. */

    --ema-div-row : var( --ver-rhy-xla );                /** Email Div Row      ~=  67.783px @1080px height = This custom property stores the height of the custom .emailDiv selector's row within this selector's grid using the specified global scoped derivative custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --mes-div-row : calc( 100% - var( --nes-com-hei ) ); /** Message Div Row    ~= 286.417px @1080px height = This custom property stores the height of the custom .messageDiv selector's row within this selector's grid using the specified selector scoped custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --nam-div-row : var( --ver-rhy-xla );                /** Name Div Row       ~=  67.783px @1080px height = This custom property stores the height of the custom .nameDiv selector's row within this selector's grid using the specified global scoped derivative custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --sub-div-row : var( --ver-rhy-lar );                /** Submit Div Row     ~=  41.883px @1080px height = This custom property stores the height of the custom .submitDiv selector's row within this selector's grid using the specified global scoped derivative custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */

    --for-div-gtr : var( --nam-div-row ) var( --ema-div-row ) var( --mes-div-row ) var( --sub-div-row ); /** ~= 589.533px @1080px height = Form Div Grid Template Rows = This custom property stores the grid template rows value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : formDiv;              /** This value was chosen to be used to place this selector within the custom .formFieldset selector grid area's second row, full width column. */
    grid-template-areas   : var( --for-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .contactForm selector. */
    grid-template-rows    : var( --for-div-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height                : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .formFieldset selector. */
    row-gap               : var( --row-gap-lar ); /** This value was chosen to be used according to the details of the specified global scoped second derivative custom property. */

}



/* #region Form Labels */

.formLabels { /** Form Labels = This custom selector contain the shared styles for the custom .nameLabel, .emailLabel, and .messageLabel selectors and are the custom .nameDiv, .emailDiv and .messageDiv selector's first grid rows, only grid columns. */

    font-size  : var( --fon-siz-bas ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    height     : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by their parents, the custom .nameDiv, .emailDiv, and .messageDiv selectors. */
    width      : var( --lib-sha-wid ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}

/* #endregion Form Labels */



/* #region Form Inputs */

.formInputs { /** Form Inputs = This custom selector contain the shared styles for the custom .nameInput, .emailInput, and .messageTextarea selectors and are the custom .nameDiv, .emailDiv and .messageDiv selector's second grid rows, only grid columns. */

    /* #region Selector Scoped Custom Properties */

    --bac-tra-pro : background-color var( --tra-dur-bas ) ease-in-out;                /** Background Color Transition Properties = This custom property stores all of the background color transition properties for the hover state using the specified global scoped derivative custom property, with the idea behind this being that this will make it easier to understand and maintain the transition property due to multiple transitions that need to be set. */
    --bor-tra-pro : border var( --tra-dur-bas ) ease-in-out;                          /** Border Transition Properties           = This custom property stores all of the border transition properties for the hover state using the specified global scoped derivative custom property, with the idea behind this being that this will make it easier to understand and maintain the transition property due to multiple transitions that need to be set. */
    --bos-tra-pro : box-shadow var( --tra-dur-bas ) ease-in-out;                      /** Box Shadow Transition Properties       = This custom property stores all of the box shadow transition properties for the hover state using the specified global scoped derivative custom property, with the idea behind this being that this will make it easier to understand and maintain the transition property due to multiple transitions that need to be set. */
    --foi-bac-col : var( --col-bac-col );                                             /** Form Inputs Background Color           = This custom property stores the background color using the specified global scoped derivative custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the background color directly. */
    --foi-bor-pro : var( --bor-wid-min ) solid var( --col-bra-mai );                  /** Form Inputs Border Properties          = This custom property stores all of the border properties using the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the border properties directly. */
    --foi-box-sha : 0 0 0 var( --col-bra-mai );                                       /** Form Inputs Box Shadow                 = This custom property stores all of the box shadow properties using the specified global scoped prime custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the box shadow properties directly. */
    --foi-pad-pro : 0 var( --pad-hor-sma );                                           /** Form Inputs Padding Properties         = This custom property stores all of the padding properties using the specified global scoped second derivative custom property, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --foi-tra-pro : var( --bac-tra-pro ), var( --bor-tra-pro ), var( --bos-tra-pro ); /** Form Inputs Transition Properties      = This custom property stores the multiple transition properties for the hover state using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --foi-wil-cha : background-color, border, box-shadow;                             /** Form Inputs Will Change                = This custom property stores all of the properties that will be changing for the hover state, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    /* #endregion Selector Scoped Custom Properties */


    background-color : var( --foi-bac-col ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    border           : var( --foi-bor-pro ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    border-radius    : var( --ibu-sha-bra ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    box-shadow       : var( --foi-box-sha ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    font-family      : inherit;              /** This value was chosen to be used to inherit the site/app's font family, with the idea behind this being that inputs do not automatically inherit the font family from their parent elements. */
    font-size        : var( --fon-siz-bas ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    height           : var( --ver-rhy-lar ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    padding          : var( --foi-pad-pro ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    transition       : var( --foi-tra-pro ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    width            : var( --lib-sha-wid ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */
    will-change      : var( --foi-wil-cha ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */

}


.formInputs:focus { /** Form Inputs Focus = This custom selector contain the shared styles for the custom .nameInput, .emailInput, and .messageTextarea selectors and are the custom .nameDiv, .emailDiv and .messageDiv selector's second grid rows, only grid columns. */


    /* #region Selector Scoped Custom Properties */

    --foi-bac-col : var( --col-nav-bac );                            /** Form Inputs Background Color      = This custom property stores the background color using the specified global scoped derivative custom property, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the background color directly. */
    --foi-bor-pro : var( --bor-wid-min ) solid var( --col-bra-acc ); /** Form Inputs Border Properties     = This custom property stores all of the border properties using the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the border properties directly. */
    --foi-box-sha : 0 0 var( --blu-rad-lar ) var( --col-bra-acc );   /** Form Inputs Box Shadow            = This custom property stores all of the box shadow properties using the specified global scoped derivative and global scoped prime custom properties, with the idea behind this being to allow the hover state to change this value dynamically instead of setting the box shadow properties directly. */

    /* #endregion Selector Scoped Custom Properties */


}

/* #endregion Form Inputs */



/* #region Name Div */

.nameDiv { /** Name Div = This custom selector contains the custom .nameLabel and .nameInput selectors and is the custom .formDiv selector's first grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --nam-div-gta :  /** Name Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'nameLabel'  /** This value was chosen to be used to contain the custom .nameLabel selector within this selector grid's first row, full width column. */
        'nameInput'; /** This value was chosen to be used to contain the custom .nameInput selector within this selector grid's second row, full width column. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : nameDiv;              /** This value was chosen to be used to place this selector within the custom .formDiv selector grid area's first row, full width column. */
    grid-template-areas   : var( --nam-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .formDiv selector. */
    grid-template-rows    : var( --lab-inp-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height                : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .formDiv selector. */
    justify-items         : center;               /** This value was chosen to be used to horizontally align this selector to the center of its grid area, with the idea behind this being that this page's content is more aesthetically pleasing when aligned to the middle of the viewport. */

}



/* #region Name Label */

.nameLabel { /** Name Label = This custom selector contains the custom text for this selector and is the custom .nameDiv selector's first grid row, only grid column. */

    grid-area : nameLabel; /** This value was chosen to be used to place this selector within the custom .nameDiv selector grid area's first row, full width column. */

}

/* #endregion Name Label */



/* #region Name Input */

.nameInput { /** Name Input = This custom selector contains the input area for this selector and is the custom .nameDiv selector's second grid row, only grid column. */

    grid-area : nameInput; /** This value was chosen to be used to place this selector within the custom .nameDiv selector grid area's second row, full width column. */

}

/* #endregion Name Input */


/* #endregion Name Div */



/* #region Email Div */

.emailDiv { /** Email Div = This custom selector contains the custom .emailLabel and .emailInput selectors and is the custom .formDiv selector's second grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --ema-div-gta :   /** Email Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'emailLabel'  /** This value was chosen to be used to contain the custom .emailLabel selector within this selector grid's first row, full width column. */
        'emailInput'; /** This value was chosen to be used to contain the custom .emailInput selector within this selector grid's second row, full width column. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : emailDiv;             /** This value was chosen to be used to place this selector within the custom .formDiv selector grid area's second row, full width column. */
    grid-template-areas   : var( --ema-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .formDiv selector. */
    grid-template-rows    : var( --lab-inp-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height                : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .formDiv selector. */
    justify-items         : center;               /** This value was chosen to be used to horizontally align this selector to the center of its grid area, with the idea behind this being that this page's content is more aesthetically pleasing when aligned to the middle of the viewport. */

}



/* #region Email Label */

.emailLabel { /** Email Label = This custom selector contains the custom text for this selector and is the custom .emailDiv selector's first grid row, only grid column. */

    grid-area : emailLabel; /** This value was chosen to be used to place this selector within the custom .emailDiv selector grid area's first row, full width column. */

}

/* #endregion Email Label */



/* #region Email Input */

.emailInput { /** Email Input = This custom selector contains the input area for this selector and is the custom .emailDiv selector's second grid row, only grid column. */

    grid-area : emailInput; /** This value was chosen to be used to place this selector within the custom .emailDiv selector grid area's second row, full width column. */

}

/* #endregion Email Input */


/* #endregion Email Div */



/* #region Message Div */

.messageDiv { /** Message Div = This custom selector contains the custom .messageLabel and .messageTextarea selectors and is the custom .formDiv selector's third grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --mes-div-gta :        /** Message Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        ' messageLabel  '  /** This value was chosen to be used to contain the custom .messageLabel selector within this selector grid's first row, full width column. */
        'messageTextarea'; /** This value was chosen to be used to contain the custom .messageTextarea selector within this selector grid's second row, full width column. */

    --mes-div-gtr : var( --mes-lab-row ) var( --mes-tea-row ); /** Message Div Grid Template Rows ~= 286.417px @1080px height = This custom property stores the grid template rows value for this selector's grid using the specified selector scoped custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
    --mes-lab-row : var( --ver-rhy-bas );                      /** Message Label Row              ~=  25.883px @1080px height = This custom property stores the height of the custom .messageLabel selector's row within this selector's grid using the specified global scoped derivative custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */
    --mes-tea-row : calc( 100% - var( --mes-lab-row ) );       /** Message Textarea Row           ~= 260.517px @1080px height = This custom property stores the height of the custom .messageTextarea selector's row within this selector's grid using the specified selector scoped custom property, with the idea behind this being that by using a custom property to store this value it makes the grid template rows custom property easier to grok, makes its actual value clear to see and allows for better maintenance by making it easier to adjust its value. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : messageDiv;           /** This value was chosen to be used to place this selector within the custom .formDiv selector grid area's third row, full width column. */
    grid-template-areas   : var( --mes-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .formDiv selector. */
    grid-template-rows    : var( --mes-div-gtr ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    height                : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .formDiv selector. */
    justify-items         : center;               /** This value was chosen to be used to horizontally align this selector to the center of its grid area, with the idea behind this being that this page's content is more aesthetically pleasing when aligned to the middle of the viewport. */

}



/* #region Message Label */

.messageLabel { /** Message Label = This custom selector contains the custom text for this selector and is the custom .messageDiv selector's first grid row, only grid column. */

    grid-area : messageLabel; /** This value was chosen to be used to place this selector within the custom .messageDiv selector grid area's first row, full width column. */

}

/* #endregion Message Label */



/* #region Message Textarea */

.messageTextarea { /** Message Textarea = This custom selector contains the input area for this selector and is the custom .messageDiv selector's second grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

   --mes-tea-pad : var( --pad-ver-min ) var( --pad-hor-sma ); /** Message Textarea Padding = This custom property stores all of the padding properties using the specified global scoped second derivative custom properties, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */

    /* #endregion Selector Scoped Custom Properties */


    grid-area        : messageTextarea;      /** This value was chosen to be used to place this selector within the custom .messageDiv selector grid area's second row, full width column. */
    height           : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .messageDiv selector. */
    line-height      : var( --ver-rhy-bas ); /** This value was chosen to be used according to the details of the specified global scoped derivative custom property. */
    padding          : var( --mes-tea-pad ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */

}

/* #endregion Message Textarea */


/* #endregion Message Div */



/* #region Submit Div */

.submitDiv { /** Submit Div = This custom selector contains the custom .submitButton selector and is the custom .formDiv selector's fourth grid row, only grid column. */

    /* #region Selector Scoped Custom Properties */

    --sub-div-gta :     /** Submit Div Grid Template Areas = This custom property stores the grid template areas value for this selector's grid, with the idea behind this being that when there are multiple properties to set I find it clearer and easier to grok by setting property values using a custom property instead of setting the property directly. */
        'submitButton'; /** This value was chosen to be used to contain the custom .submitButton selector within this selector grid's full height row, full width column. */

    /* #endregion Selector Scoped Custom Properties */


    display               : grid;                 /** This value was chosen to be used as the preferred layout method, with the idea behind this being that it provides powerful element placement and sizing capabilities. */
    grid-area             : submitDiv;            /** This value was chosen to be used to place this selector within the custom .formDiv selector grid area's fourth row, full width column. */
    grid-template-areas   : var( --sub-div-gta ); /** This value was chosen to be used according to the details of the specified selector scoped custom property. */
    grid-template-columns : 100%;                 /** This value was chosen to be used to fill columns using all available horizontal space as defined by its parent, the custom .formDiv selector. */
    grid-template-rows    : 100%;                 /** This value was chosen to be used to fill columns using all available vertical space as defined by its parent, the custom .formDiv selector. */
    height                : 100%;                 /** This value was chosen to be used to fill all available vertical space as defined by its parent, the custom .formDiv selector. */
    justify-items         : center;               /** This value was chosen to be used to horizontally align this selector to the center of its grid area, with the idea behind this being that this page's content is more aesthetically pleasing when aligned to the middle of the viewport. */

}



/* #region Submit Button */

.submitButton { /** Submit Button = This custom selector contains the custom text for the buttom selector and is the custom .buttonDiv selector's only grid row, only grid column. */

    border-radius : var( --ibu-sha-bra ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */
    grid-area     : submitButton;         /** This value was chosen to place this selector within the custom .submitDiv selector grid area's full height row, full width column. */
    width         : var( --lib-sha-wid ); /** This value was chosen to be used according to the details of the specified component scoped custom property. */

}

/* #endregion Submit Button */


/* #endregion Submit Div */


/* #endregion Form Div */


/* #endregion Form Fieldset */


/* #endregion Contact Form */


