
/* #region Component Scoped Custom Properties */

.componentForm { /** Component Form is the component's root element, and it is used here in order to define component scoped custom properties. */


    /** #region Box Shadow */

    --box-sha-blu : calc( pow( var( --golden-rati ), 5 ) * 1px ); /** Box Shadow Blur stores the blur radius value that will be used for the input box shadow's component scoped custom property, and it is approximately equal to the golden ratio globally scoped custom property's value (~= 1.618) to the fifth power (~= 11.090) multiplied by 1px, for a combined total size ~= 11.090px. */
    --box-sha-hor : calc( pow( var( --golden-rati ), 2 ) * 1px ); /** Box Shadow Horizontal stores the horizontal offset value that will be used for the input box shadow's component scoped custom property, and it is approximately equal to the golden ratio globally scoped custom property's value (~= 1.618) squared (~= 2.1618) multiplied by 1px, for a combined total size ~= 2.618px. */
    --box-sha-ver : calc( pow( var( --golden-rati ), 2 ) * 1px ); /** Box Shadow Vertical stores the vetical offset value that will be used for the input box shadow's component scoped custom property, and it is approximately equal to the golden ratio globally scoped custom property's value (~= 1.618) squared (~= 2.1618) multiplied by 1px, for a combined total size ~= 2.618px. */

    /** #endregion Box Shadow */



    /** #region Grid Row */

    --gri-row-inp : var( --ver-rhy-xla );                /** Grid Row Input stores the height of the second row (input element) within the .formDiv element's children div's (.nameDiv, .emailDiv and .messageDiv) grid, and it is equal to the vertical rhythm extra large globally scoped custom property's value (~= 67.777px @16px root font size). */
    --gri-row-lab : calc( 100% - var( --gri-row-inp ) ); /** Grid Row Label stores the height of the first row (label element) within the .formDiv element's children div's (.nameDiv, .emailDiv and .messageDiv) grid, and it is equal to 100% of said container's height minus the grid row input component scoped custom property's value (~= 67.777px @16px root font size). */

    /** #endregion Grid Row */



    /** #region Input */

    --inp-bac-col : var( --col-but-dar );                                                                /** Input Background Color stores the background color that will be used for the form's input elements, and it is equal to the color button for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 6.854%, 100.000% )). */
    --inp-bor-pro : calc( var( --golden-rati ) * 1px ) solid var( --col-tex-dar );                       /** Input Border Properties stores all of the border properties that will be used for the form's input elements. The border width property is equal to the golden ratio globally scoped custom property's value (~= 1.618) multiplied by 1px, the border style property is equal to a solid line, and the border color property is equal to the color text for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 76.013%, 100.000% )). */
    --inp-bor-rad : var( --bor-rad-med );                                                                /** Input Border Radius stores the border radius that will be used for the form's input elements, and it is equal to the border radius medium globally scoped custom property's value (~= 6.854px). */
    --inp-box-sha : var( --box-sha-hor ) var( --box-sha-ver ) var( --box-sha-blu ) var( --col-bos-dar ); /** Input Box Shadow stores the box shadow that will be used for the form's input elements. The horizontal offset is equal to the box shadow horizontal component scoped custom property's value (~= 2.1618px), the vertical offset is equal to the box shadow vertical component scoped custom property's value (~= 2.618px), the blur radius is equal to the box shadow blur component scoped custom property's value (~= 11.090px), and the color is equal to the color box shadow for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 17.944%, 100.000% )). */
    --inp-fon-siz : var( --fon-siz-bas );                                                                /** Input Font Size stores the font size that will be used for the form's input elements, and it is equal to the font size base globally scoped custom property's value (= 16.000px @16px root font size). */
    --inp-hei-siz : var( --ver-rhy-lar );                                                                /** Input Height Size stores the height that will be used for the form's input elements, and it is equal to the vertical rhythm large globally scoped custom property's value (~= 41.889px @16px root font size). */
    --inp-pad-siz : 0 var( --pad-hor-sma );                                                              /** Input Padding Size stores the padding that will be used for the form's input elements. The vertical padding is equal to 0, and the horizontal padding is equal to the padding horizontal small globally scoped custom property's value (~= 15.611px @1920px width). */

    /** #endregion Input */



    /** #region Label */

    --lab-fon-siz : var( --fon-siz-lar ); /** Label Font Size stores the font size that will be used for the form's label elements, and it is equal to the font size large globally scoped custom property's value (~= 25.889px @16px root font size). */

    /** #endregion Label */



    /** #region Label Input Button */

    --lib-wid-siz : calc( var( --hor-rhy-max ) * pow( var( --golden-rati ), 3 )); /** Label Input Button Width Size stores the width that will be used for the form's label, input and button elements so that all of their widths are perfectly equal and aligned. It is equal to the horizontal rhythm maximum globally scoped custom property's value (~= 106.998px @1920px width) multiplied by the golden ratio globally scoped custom property's value (~= 1.618) raised to the thrid power (~= 4.236), for a total combined total width ~= 455.251px @1920px width. */

    /** #endregion Label Input Button */


}

/* #endregion Component Scoped Custom Properties */


/* #region Media Query for Light Mode */

@media ( prefers-color-scheme : light ) { /** This is the media query selector for the light mode color scheme. */


    .componentForm { /** Component Form is the component's root element, and it is used here in order to define component scoped custom properties. */

        --inp-bac-col : var( --col-but-lig );                                                                /** Input Background Color stores the background color that will be used for the form's input elements, and it is equal to the color button for light mode globally scoped custom property's value (hsla(   0.000,   0.000%,  76.013%, 100.000% )). */
        --inp-bor-pro : calc( var( --golden-rati ) * 1px ) solid var( --col-tex-lig );                       /** Input Border Properties stores all of the border properties that will be used for the form's input elements. The border width property is equal to the golden ratio globally scoped custom property's value (~= 1.618) multiplied by 1px, the border style property is equal to a solid line, and the border color property is equal to the color text for light mode globally scoped custom property's value (hsla(   0.000,   0.000%,   6.854%, 100.000% )). */
        --inp-box-sha : var( --box-sha-hor ) var( --box-sha-ver ) var( --box-sha-blu ) var( --col-bos-lig ); /** Input Box Shadow stores the box shadow that will be used for the form's input elements. The horizontal offset is equal to the box shadow horizontal component scoped custom property's value (~= 2.1618px), the vertical offset is equal to the box shadow vertical component scoped custom property's value (~= 2.618px), the blur radius is equal to the box shadow blur component scoped custom property's value (~= 11.090px), and the color is equal to the color box shadow for light mode globally scoped custom property's value (hsla(   0.000,   0.000%,  76.013%, 100.000% )). */

    }


}

/* #endregion Media Query for Light Mode */



/* #region Component Form */

.componentForm { /** Component Form is this component's root element and the #rooSecEle element grid's second row, and it is the containing element for the .formFieldset element. */

    height  : 100%;                   /** This property was chosen so that the this element takes up the full height of its parent element (#rooSecEle element), even if its inner content does not. */
    padding : var( --pad-ver-xla ) 0; /** This property was chosen to add vertical padding to the this element in order to visually separate it vertically from both the navigation bar and the footer, with no horizontal padding. The vertical padding is equal to the padding vertical extra large globally scoped custom property's value (~= 67.777px @16px root font size). */

}


/* #region Form Fieldset */

.formFieldset { /** Form Fieldset is the only child element of the .componentForm element, and it is the containing element for the .fieldsetLegend and .formDiv elements. */

    /* #region Element Scoped Custom Properties */

    --gri-row-for : calc( 100% - ( var( --hea-one-siz ) + var( --row-gap-max ) ) ); /** Grid Row Form stores the height of the second row within the this element's grid that will be used for the .formDiv element, and it is equal to 100% of said component's allotted height (as defined by the .componentForm element) minus the combined height of the .fieldsetLegend element's height (header one size globally scoped custom property's value that is approximately equal to 67.777px @16px root font size) and the grid's single row gap maximum value (~= 67.777px @16px root font size). */
    --gri-row-leg : var( --hea-one-siz );                                           /** Grid Row Legend stores the height of the first row within the this element's grid, and it is equal to the .fieldsetLegend element's height (header one size globally scoped custom property's value that is approximately equal to 67.777px @16px root font size). */
    --gri-tem-row : var( --gri-row-leg ) var( --gri-row-for );                      /** Grid Template Row stores the grid template rows declaration for the this element. This is stored in a single custom property to keep all of the grid template row values together and make it easier to manage. */

    /* #endregion Element Scoped Custom Properties */


    border                : none;                 /** This property was chosen to remove the default border that browsers apply to fieldset elements. */
    display               : grid;                 /** This property was chosen as the layout method for its powerful layout capabilities. */
    grid-template-areas   :                       /** This property was chosen as my preferred method of placing grid items, as I find its visual definition and placement provides more clarity. */
        'legend'                                  /** This property was chosen to define the first grid template areas row, which contains the .fieldsetLegend element. */
        'form';                                   /** This property was chosen to define the second grid template areas row, which contains the .formDiv element. */
    grid-template-columns : 100%;                 /** This property was chosen to define the width of the columns in this element's grid layout, and since said grid only has one column per row it is set to 100% to take up the full width of the this element (as defined by the .componentForm element). */
    grid-template-rows    : var( --gri-tem-row ); /** This property was chosen to define the height of the rows in the grid layout, and it is equal to the value of the grid template rows scoped custom property's value. */
    height                : 100%;                 /** This property was chosen to make the this element take up the full height of its parent container (as defined by the .componentForm element), even if its inner content does not. */
    margin                : 0;                    /** This property was chosen to remove the default margin that browsers apply to fieldset elements. */
    padding               : 0;                    /** This property was chosen to remove the default padding that browsers apply to fieldset elements. */
    row-gap               : var( --row-gap-max ); /** This property was chosen to define the grid's single row gap that separates the .fieldsetLegend and .formDiv element's rows, and it is equal to the row gap maximum value globally scoped custom property's value (~= 67.777px @16px root font size). */

}


/* #region Fieldset Legend */

.fieldsetLegend { /** Fieldset Legend is the first child element of the .formFieldset element, and it is the containing element for the text that serves as a sort H1 heading for the form. */

    float        : left;                 /** This property was chosen because the legend element was creating extra grid rows that kept pushing the .formDiv grid row further down the page. I tried everything I could think of to get it to behave properly but nothing else worked. Even the browser developer tools says this is an invalid property for a grid item, but if you uncheck this setting you will see that the .formDiv element will be pushed out of it's grid row placement. */
    font-size    : var( --hea-one-siz ); /** This property was chosen to set the font size equal to the header one size globally scoped Custom Property, which is approximately equal to 67.777px @16px root font size. */
    grid-area    : legend;               /** This property was chosen to place the this element within the grid area defined in the parent .formFieldset element's grid template areas declaration. */
    justify-self : center;               /** This property was chosen to horizontally center the this element within its grid area so that it is centered within the page. */
    line-height  : var( --hea-one-siz ); /** This property was chosen to set the line height equal to the this element's font size so that it's vertical height is exactly the same as its content. This is standard behavior for header elements since line height is used to allow for breathing room in text heavy content but header elements are almost always contained within one line. */

}

/* #endregion Fieldset Legend */



/* #region Form Div */

.formDiv { /** Form Div is the second child element of the .formFieldset element, and it is the containing element for the divs (.nameDiv, .emailDiv, .messageDiv and .submitDiv) that act as containers for the form's inputs, labels and buttons. */

    /* #region Element Scoped Custom Properties */

    --gri-row-ema : var( --ver-rhy-max );                                                                                          /** Grid Row Email stores the height of the second row within this element's grid that contains the .emailDiv, and it is equal to the vertical rhythm maximum globally scoped custom property's value (~= 109.666px @16px root font size). */
    --gri-row-mes : calc( 100% - var( --nes-com-hei ) );                                                                           /** Grid Row Message stores the height of the third row within this element's grid that contains the .messageDiv, and it is equal to 100% of this element's allotted height (as defined by the .formFieldset element) minus the name email submit combined height element scoped custom property's value (~= 335.108px @16px root font size). */
    --gri-row-nam : var( --ver-rhy-max );                                                                                          /** Grid Row Name stores the height of the first row within this element's grid that contains the .nameDiv, and it is equal to the vertical rhythm maximum globally scoped custom property's value (~= 109.666px @16px root font size). */
    --gri-row-sub : var( --ver-rhy-xla );                                                                                          /** Grid Row Submit stores the height of the fourth row within this element's grid that contains the .submitDiv, and it is equal to the vertical rhythm extra large globally scoped custom property's value (~= 67.777px @16px root font size). */
    --gri-tem-row : var( --gri-row-nam ) var( --gri-row-ema ) var( --gri-row-mes ) var( --gri-row-sub );                           /** Grid Template Row stores the grid template rows declaration for this element. This is stored in a single custom property to keep all of the grid template row values together and make it easier to manage. */
    --nes-com-hei : calc( var( --gri-row-nam ) + var( --gri-row-ema ) + var( --gri-row-sub ) + calc( var( --row-gap-med ) * 3 ) ); /** Name Email Submit (and row gap x3) Combined Height stores the combined height of the rows for the .nameDiv, .emailDiv and .submitDiv elements plus the total row gap between them, and it will be used in the grid row message element scoped custom property's value in order to subtract it from 100% of this element's height and determine the .messageDiv element's row height. It is approximately equal to 335.108px @16px root font size. */

    /* #endregion Element Scoped Custom Properties */


    display               : grid;                 /** This property was chosen as the layout method for its powerful layout capabilities. */
    grid-area             : form;                 /** This property was chosen to place the this element within the grid area defined in the parent .formFieldset element's grid template areas declaration. */
    grid-template-areas   :                       /** This property was chosen as my preferred method of placing grid items, as I find its visual definition and placement provides more clarity. */
        'name'                                    /** This property was chosen to define the first grid template areas row, which contains the .nameDiv element. */
        'email'                                   /** This property was chosen to define the second grid template areas row, which contains the .emailDiv element. */
        'message'                                 /** This property was chosen to define the third grid template areas row, which contains the .messageDiv element. */
        'submit';                                 /** This property was chosen to define the fourth grid template areas row, which contains the .submitDiv element. */
    grid-template-columns : 100%;                 /** This property was chosen to define the width of the columns in this element's grid layout, and since said grid only has one column per row it is set to 100% to take up the full width of the this element (as defined by the .formFieldset element). */
    grid-template-rows    : var( --gri-tem-row ); /** This property was chosen to define the height of the rows in the grid layout, and it is equal to the value of the grid template rows scoped custom property's value. */
    row-gap               : var( --row-gap-med ); /** This property was chosen to define the grid's three row gaps that separates the .nameDiv from the .emailDiv, the .emailDiv from the .messageDiv, and the .messageDiv from the .submitDiv. It is equal to the row gap medium value globally scoped custom property's value (= 16.000px @16px root font size). */

}


/* #region Name Div */

.nameDiv { /** Name Div is the first child element of the .formDiv element, and it is the containing element for the .nameLabel and .nameInput elements that act as containers for the form's name input and label. */

    display               : grid;                                      /** This property was chosen as the layout method for its powerful layout capabilities. */
    grid-area             : name;                                      /** This property was chosen to place the this element within the grid area defined in the parent .formDiv element's grid template areas declaration. */
    grid-template-areas   :                                            /** This property was chosen as my preferred method of placing grid items, as I find its visual definition and placement provides more clarity. */
        'label'                                                        /** This property was chosen to define the first grid template areas row, which contains the .nameLabel element. */
        'input';                                                       /** This property was chosen to define the second grid template areas row, which contains the .nameInput element. */
    grid-template-columns : 100%;                                      /** This property was chosen to define the width of the columns in this element's grid layout, and since said grid only has one column per row it is set to 100% to take up the full width of the this element (as defined by the .formDiv element). */
    grid-template-rows    : var( --gri-row-lab ) var( --gri-row-inp ); /** This property was chosen to define the height of the rows in the grid layout, and it is equal to the values of the grid row label and grid row input component scoped custom properties' values. */
    justify-items         : center;                                    /** This property was chosen to horizontally center the grid items (the label and input elements) within their respective grid areas so that they are centered within the page. */

}


/* #region Name Label */

.nameLabel { /** Name Label is the first child element of the .nameDiv element, and it is the containing element for the form's name label. */

    align-self : center;               /** This property was chosen due to the peculiar nature of the label element being vertically aligned towards the top of its row by default, and this property overrides that behavior to vertically align itself towards the bottom of its row (confusing? yes) bringing it closer to the input element below it. */
    font-size  : var( --lab-fon-siz ); /** This property was chosen to set the font size of the label element equal to the component scoped custom property for label font size, which is equal to the font size large globally scoped custom property (~= 25.889px @16px root font size). */
    grid-area  : label;                /** This property was chosen to place the this element within the grid area defined in the parent .nameDiv element's grid template areas declaration. */
    width      : var( --lib-wid-siz ); /** This property was chosen to set the width of the label element equal to the label name button width size component scoped custom property, which is approximately equal to 455.251px @1920px width. */

}

/* #endregion Name Label */


/* #region Name Input */

.nameInput { /** Name Input is the second child element of the .nameDiv element, and it is the containing element for the form's name input. */

    align-self       : start;                /** This property was chosen to vertically align the this element towards the top of its grid row, which brings it closer to the label element above it. */
    background-color : var( --inp-bac-col ); /** This property was chosen to set the background color of the input element equal to the input background color component scoped custom property, which is equal to the color button for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 6.854%, 100.000% )). */
    border           : var( --inp-bor-pro ); /** This property was chosen to set the border of the input element equal to the input border properties component scoped custom property. The border width property is equal to the golden ratio globally scoped custom property's value (~= 1.618) multiplied by 1px, the border style property is equal to a solid line, and the border color property is equal to the color text for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 76.013%, 100.000% )). */
    border-radius    : var( --inp-bor-rad ); /** This property was chosen to set the border radius of the input element equal to the input border radius component scoped custom property, which is equal to the border radius medium globally scoped custom property's value (~= 6.854px). */
    box-shadow       : var( --inp-box-sha ); /** This property was chosen to set the box shadow of the input element equal to the input box shadow component scoped custom property. The horizontal offset is equal to the box shadow horizontal component scoped custom property's value (~= 2.1618px), the vertical offset is equal to the box shadow vertical component scoped custom property's value (~= 2.618px), the blur radius is equal to the box shadow blur component scoped custom property's value (~= 11.090px), and the color is equal to the color box shadow for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 17.944%, 100.000% )). */
    font-family      : inherit;              /** This property was chosen to set the font family of the input element to inherit from its parent element, which in this casse is defined in the index.css file for the body element. */
    font-size        : var( --inp-fon-siz ); /** This property was chosen to set the font size of the input element equal to the input font size component scoped custom property, which is equal to the font size base globally scoped custom property's value (= 16.000px @16px root font size). */
    grid-area        : input;                /** This property was chosen to place the this element within the grid area defined in the parent .nameDiv element's grid template areas declaration. */
    height           : var( --inp-hei-siz ); /** This property was chosen to set the height of the input element equal to the input height size component scoped custom property, which is equal to the vertical rhythm large globally scoped custom property's value (~= 41.889px @16px root font size). */
    padding          : var( --inp-pad-siz ); /** This property was chosen to set the padding of the input element equal to the input padding size component scoped custom property. The vertical padding is equal to 0, and the horizontal padding is equal to the padding horizontal small globally scoped custom property's value (~= 15.611px @1920px width). */
    width            : var( --lib-wid-siz ); /** This property was chosen to set the width of the input element equal to the label name button width size component scoped custom property, which is approximately equal to 455.251px @1920px width. */

}

/* #endregion Name Input */


/* #endregion Name Div */



/* #region Email Div */

.emailDiv { /** Email Div is the second child element of the .formDiv element, and it is the containing element for the .emailLabel and .emailInput elements that act as containers for the form's email input and label. */

    display               : grid;                                      /** This property was chosen as the layout method for its powerful layout capabilities. */
    grid-area             : email;                                     /** This property was chosen to place the this element within the grid area defined in the parent .formDiv element's grid template areas declaration. */
    grid-template-areas   :                                            /** This property was chosen as my preferred method of placing grid items, as I find its visual definition and placement provides more clarity. */
        'label'                                                        /** This property was chosen to define the first grid template areas row, which contains the .emailLabel element. */
        'input';                                                       /** This property was chosen to define the second grid template areas row, which contains the .emailInput element. */
    grid-template-columns : 100%;                                      /** This property was chosen to define the width of the columns in this element's grid layout, and since said grid only has one column per row it is set to 100% to take up the full width of the this element (as defined by the .formDiv element). */
    grid-template-rows    : var( --gri-row-lab ) var( --gri-row-inp ); /** This property was chosen to define the height of the rows in the grid layout, and it is equal to the values of the grid row label and grid row input component scoped custom properties' values. */
    justify-items         : center;                                    /** This property was chosen to horizontally center the grid items (the label and input elements) within their respective grid areas so that they are centered within the page. */

}


/* #region Email Label */

.emailLabel { /** Email Label is the first child element of the .emailDiv element, and it is the containing element for the form's email label. */

    align-self : center;               /** This property was chosen due to the peculiar nature of the label element being vertically aligned towards the top of its row by default, and this property overrides that behavior to vertically align itself towards the bottom of its row (confusing? yes) bringing it closer to the input element below it. */
    font-size  : var( --lab-fon-siz ); /** This property was chosen to set the font size of the label element equal to the component scoped custom property for label font size, which is equal to the font size large globally scoped custom property (~= 25.889px @16px root font size). */
    grid-area  : label;                /** This property was chosen to place the this element within the grid area defined in the parent .emailDiv element's grid template areas declaration. */
    width      : var( --lib-wid-siz ); /** This property was chosen to set the width of the label element equal to the label name button width size component scoped custom property, which is approximately equal to 455.251px @1920px width. */

}

/* #endregion Email Label */


/* #region Email Input */

.emailInput { /** Email Input is the second child element of the .emailDiv element, and it is the containing element for the form's email input. */

    align-self       : start;                /** This property was chosen to vertically align the this element towards the top of its grid row, which brings it closer to the label element above it. */
    background-color : var( --inp-bac-col ); /** This property was chosen to set the background color of the input element equal to the input background color component scoped custom property, which is equal to the color button for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 6.854%, 100.000% )). */
    border           : var( --inp-bor-pro ); /** This property was chosen to set the border of the input element equal to the input border properties component scoped custom property. The border width property is equal to the golden ratio globally scoped custom property's value (~= 1.618) multiplied by 1px, the border style property is equal to a solid line, and the border color property is equal to the color text for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 76.013%, 100.000% )). */
    border-radius    : var( --inp-bor-rad ); /** This property was chosen to set the border radius of the input element equal to the input border radius component scoped custom property, which is equal to the border radius medium globally scoped custom property's value (~= 6.854px). */
    box-shadow       : var( --inp-box-sha ); /** This property was chosen to set the box shadow of the input element equal to the input box shadow component scoped custom property. The horizontal offset is equal to the box shadow horizontal component scoped custom property's value (~= 2.1618px), the vertical offset is equal to the box shadow vertical component scoped custom property's value (~= 2.618px), the blur radius is equal to the box shadow blur component scoped custom property's value (~= 11.090px), and the color is equal to the color box shadow for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 17.944%, 100.000% )). */
    font-family      : inherit;              /** This property was chosen to set the font family of the input element to inherit from its parent element, which in this casse is defined in the index.css file for the body element. */
    font-size        : var( --inp-fon-siz ); /** This property was chosen to set the font size of the input element equal to the input font size component scoped custom property, which is equal to the font size base globally scoped custom property's value (= 16.000px @16px root font size). */
    grid-area        : input;                /** This property was chosen to place the this element within the grid area defined in the parent .emailDiv element's grid template areas declaration. */
    height           : var( --inp-hei-siz ); /** This property was chosen to set the height of the input element equal to the input height size component scoped custom property, which is equal to the vertical rhythm large globally scoped custom property's value (~= 41.889px @16px root font size). */
    padding          : var( --inp-pad-siz ); /** This property was chosen to set the padding of the input element equal to the input padding size component scoped custom property. The vertical padding is equal to 0, and the horizontal padding is equal to the padding horizontal small globally scoped custom property's value (~= 15.611px @1920px width). */
    width            : var( --lib-wid-siz ); /** This property was chosen to set the width of the input element equal to the label name button width size component scoped custom property, which is approximately equal to 455.251px @1920px width. */

}

/* #endregion Email Input */


/* #endregion Email Div */



/* #region Message Div */

.messageDiv { /** Message Div is the third child element of the .formDiv element, and it is the containing element for the .messageLabel and .messageTextarea elements that act as containers for the form's message textarea and label. */

    /* #region Element Scoped Custom Properties */

    --gri-row-lab : var( --ver-rhy-lar );                      /** Grid Row Label stores the height of the first row (label element) within the .messageDiv element, and it is equal to the vertical rhythm large globally scoped custom property's value (~= 41.889px @16px root font size). */
    --gri-row-tea : calc( 100% - var( --gri-row-lab ) );       /** Grid Row Textarea stores the height of the second row (textarea element) within the .messageDiv element, and it is equal to 100% of this element's allotted height (as defined by the .messageDiv element) minus the grid row label component scoped custom property's value (~= 41.889px @16px root font size). */
    --gri-tem-row : var( --gri-row-lab ) var( --gri-row-tea ); /** Grid Template Row stores the grid template rows declaration for the this element. This is stored in a single custom property to keep all of the grid template row values together and make it easier to manage. */

    /* #endregion Element Scoped Custom Properties */


    display               : grid;                 /** This property was chosen as the layout method for its powerful layout capabilities. */
    grid-area             : message;              /** This property was chosen to place the this element within the grid area defined in the parent .formDiv element's grid template areas declaration. */
    grid-template-areas   :                       /** This property was chosen as my preferred method of placing grid items, as I find its visual definition and placement provides more clarity. */
        'label'                                   /** This property was chosen to define the first grid template areas row, which contains the .messageLabel element. */
        'textarea';                               /** This property was chosen to define the second grid template areas row, which contains the .messageTextarea element. */
    grid-template-columns : 100%;                 /** This property was chosen to define the width of the columns in this element's grid layout, and since said grid only has one column per row it is set to 100% to take up the full width of the this element (as defined by the .formDiv element). */
    grid-template-rows    : var( --gri-tem-row ); /** This property was chosen to define the height of the rows in the grid layout, and it is equal to the values of the grid row label and grid row input component scoped custom properties' values. */
    justify-items         : center;               /** This property was chosen to horizontally center the grid items (the label and input elements) within their respective grid areas so that they are centered within the page. */

}


/* #region Message Label */

.messageLabel { /** Message Label is the first child element of the .messageDiv element, and it is the containing element for the form's message label. */

    align-self : center;               /** This property was chosen due to the peculiar nature of the label element being vertically aligned towards the top of its row by default, and this property overrides that behavior to vertically align itself towards the bottom of its row (confusing? yes) bringing it closer to the input element below it. */
    font-size  : var( --lab-fon-siz ); /** This property was chosen to set the font size of the label element equal to the component scoped custom property for label font size, which is equal to the font size large globally scoped custom property (~= 25.889px @16px root font size). */
    grid-area  : label;                /** This property was chosen to place the this element within the grid area defined in the parent .messageDiv element's grid template areas declaration. */
    width      : var( --lib-wid-siz ); /** This property was chosen to set the width of the label element equal to the label name button width size component scoped custom property, which is approximately equal to 455.251px @1920px width. */

}

/* #endregion Message Label */


/* #region Message Textarea */

.messageTextarea { /** Message Textarea is the second child element of the .messageDiv element, and it is the containing element for the form's message textarea. */

    align-self       : start;                                     /** This property was chosen to vertically align the this element towards the top of its grid row, which brings it closer to the label element above it. */
    background-color : var( --inp-bac-col );                      /** This property was chosen to set the background color of the input element equal to the input background color component scoped custom property, which is equal to the color button for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 6.854%, 100.000% )). */
    border           : var( --inp-bor-pro );                      /** This property was chosen to set the border of the input element equal to the input border properties component scoped custom property. The border width property is equal to the golden ratio globally scoped custom property's value (~= 1.618) multiplied by 1px, the border style property is equal to a solid line, and the border color property is equal to the color text for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 76.013%, 100.000% )). */
    border-radius    : var( --inp-bor-rad );                      /** This property was chosen to set the border radius of the input element equal to the input border radius component scoped custom property, which is equal to the border radius medium globally scoped custom property's value (~= 6.854px). */
    box-shadow       : var( --inp-box-sha );                      /** This property was chosen to set the box shadow of the input element equal to the input box shadow component scoped custom property. The horizontal offset is equal to the box shadow horizontal component scoped custom property's value (~= 2.1618px), the vertical offset is equal to the box shadow vertical component scoped custom property's value (~= 2.618px), the blur radius is equal to the box shadow blur component scoped custom property's value (~= 11.090px), and the color is equal to the color box shadow for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 17.944%, 100.000% )). */
    font-family      : inherit;                                   /** This property was chosen to set the font family of the input element to inherit from its parent element, which in this casse is defined in the index.css file for the body element. */
    font-size        : var( --inp-fon-siz );                      /** This property was chosen to set the font size of the input element equal to the input font size component scoped custom property, which is equal to the font size base globally scoped custom property's value (= 16.000px @16px root font size). */
    grid-area        : textarea;                                  /** This property was chosen to place the this element within the grid area defined in the parent .messageDiv element's grid template areas declaration. */
    height           : calc( 100% - var( --mar-ver-sma ) );       /** This property was chosen to set the height equal to 100% of this element's allotted height (as defined by the .messageDiv element) minus the margin vertical small globally scoped custom property's value (= 16.000px @16px root font size). */
    line-height      : var( --ver-rhy-bas );                      /** This property was chosen to set the line height of the textarea element equal to the vertical rhythm base globally scoped custom property's value (~= 25.889px @16px root font size) in order to allow the inputted text within the textarea more breathing room. */
    margin-bottom    : var( --mar-ver-sma );                      /** This property was chosen to set the margin bottom of the textarea element equal to the margin vertical small globally scoped custom property's value (= 16.000px @16px root font size) in order to bring the space between the textarea and the top of the submit button below it more in line with the spacing between the other input elements and the elements below them. This was due to the textarea taking up more vertical space than the other input elements which meant that it is sitting on the bottom of its container whereas the other input elements were more vertically centered therefore leaving extra space below them. */
    padding          : var( --pad-ver-min ) var( --pad-hor-sma ); /** This property was chosen to set the padding of the textarea element equal to the padding vertical minimum and padding horizontal small globally scoped custom properties, which are approximately equal to 6.111px @16px root font size and 15.611px @1920px width respectively. */
    width            : var( --lib-wid-siz );                      /** This property was chosen to set the width of the textarea element equal to the label name button width size component scoped custom property, which is approximately equal to 455.251px @1920px width. */

}

/* #endregion Message Textarea */


/* #endregion Message Div */



/* #region Submit Div */

.submitDiv { /** Submit Div is the fourth child element of the .formDiv element, and it is the containing element for the .submitButton element that acts as the container for the form's submit button. */

    align-items           : center; /** This property was chosen to vertically center the button within the grid container, aligning said button with the label and input elements with whom it also shares a width size. */
    display               : grid;   /** This property was chosen as the layout method for its powerful layout capabilities. */
    grid-area             : submit; /** This property was chosen to place the this element within the grid area defined in the parent .submitDiv element's grid template areas declaration. */
    grid-template-areas   :         /** This property was chosen as my preferred method of placing grid items, as I find its visual definition and placement provides more clarity. */
        'button';                   /** This property was chosen to define the first grid template areas row, which contains the .submitButton element. */
    grid-template-columns : 100%;   /** This property was chosen to define the width of the columns in this element's grid layout, and since said grid only has one column per row it is set to 100% to take up the full width of the this element (as defined by the .formDiv element). */
    grid-template-rows    : 100%;   /** This property was chosen to define the height of the rows in this element's grid layout, and since said grid only has one row per column it is set to 100% to take up the full height of the this element (as defined by the .formDiv element). */
    justify-items         : center; /** This property was chosen to horizontally center the grid items (the button element) within their respective grid areas so that they are centered within the page. */


}


/* #region Submit Button */

.submitButton { /** Submit Button is the first child element of the .submitDiv element, and it is the containing element for the form's submit button. */

    /* #region Element Scoped Custom Properties */

    --sub-tra-dur : calc( pow( var( --golden-rati ), 12 ) * 1ms ); /** Submit Button Transition Duration stores the duration in milliseconds for the background color property's transition that will occur on hover, and it is equal to the golden ratio (~= 1.618) raised to the twelfth power (~= 321.997) for a total duration of 321.997ms. */

    /* #endregion Element Scoped Custom Properties */


    background-color : var( --inp-bac-col );                         /** This property was chosen to set the background color of the button element equal to the input background color component scoped custom property, in order to visually match the input elements. It is equal to the color button for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 6.854%, 100.000% )). */
    border           : var( --inp-bor-pro );                         /** This property was chosen to set the border of the button element equal to the input border properties component scoped custom property, in order to visually match the input elements. The border width property is equal to the golden ratio globally scoped custom property's value (~= 1.618) multiplied by 1px, the border style property is equal to a solid line, and the border color property is equal to the color text for dark mode globally scoped custom property's value (hsla( 0.000, 0.000%, 76.013%, 100.000% )). */
    border-radius    : var( --inp-bor-rad );                         /** This property was chosen to set the border radius of the button element equal to the input border radius component scoped custom property, in order to visually match the input elements. It is equal to the border radius medium globally scoped custom property's value (~= 6.854px). */
    cursor           : pointer;                                      /** This property was chosen as a common standard for changing the cursor to a pointer when hovering over buttons, providing a visual cue to users that the element is interactive and can be clicked. */
    grid-area        : button;                                       /** This property was chosen to place the this element within the grid area defined in the parent .submitDiv element's grid template areas declaration. */
    height           : var( --inp-hei-siz );                         /** This property was chosen to set the height of the button element equal to the input height size component scoped custom property, in order to visually match the input elements. It is equal to the vertical rhythm large globally scoped custom property's value (~= 41.889px @16px root font size). */
    transition       : background-color var( --sub-tra-dur ) linear; /** This property was chosen to smoothly transition the background color property on hover using the submit button transition duration element scoped custom property for the transition duration and linear for the timing function. */
    width            : var( --lib-wid-siz );                         /** This property was chosen to set the width of the button element equal to the label name button width size component scoped custom property, which is approximately equal to 455.251px @1920px width. */
    will-change      : background-color;                             /** This property was chosen to inform the browser that the background color property of the button element will be changing (on hover) so that the browser can optimize for this change and ensure a smoother transition effect. */

}

.submitButton:hover { /** Submit Button is the first child element of the .submitDiv element, and it is the containing element for the form's submit button. */

    background-color : var( --col-but_hov-dar ); /** This property was chosen to set the background color of the button element on hover equal to the color button hover for dark mode globally scoped custom property, which is equal to the color button hover for dark mode globally scoped custom property's value (hsla( 199.005, 100.000%,  46.979%, 100.000% )). */

}


/* #region Media Query for Light Mode */

@media ( prefers-color-scheme : light ) { /** This is the media query selector for the light mode color scheme. */


    .submitButton:hover { /** Submit Button is the first child element of the .submitDiv element, and it is the containing element for the form's submit button. */

        background-color : var( --col-but_hov-lig ); /** This property was chosen to set the background color of the button element on hover equal to the color button hover for light mode globally scoped custom property, which is equal to the color button hover for light mode globally scoped custom property's value (hsla( 199.005, 100.000%,  29.034%, 100.000% )). */

    }


}

/* #endregion Media Query for Light Mode */


/* #endregion Submit Button */


/* #endregion Submit Div */


/* #endregion Form Div */


/* #endregion Form Fieldset */


/* #endregion Component Form */


