body {

  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  box-sizing: border-box;

}


#root {

  display: grid;
  grid-template-areas: "navbar navbar navbar"
                        "sidebar1 main sidebar2"
                        "footer footer footer";
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  max-width: 100%;
  min-width: 100vw;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

}

/*
#root > * {
  border: 1px solid #000;
}
*/

#main {
  grid-area: main;
}

.gridMain {

  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  padding-top: 3rem;

}

.gridFoot {

  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.5rem;
  line-height: 1rem;
  max-height: 100%;

}

.homeSection {

  display: grid;
  grid-template-areas: "header"
                       "content";
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  row-gap: 30px;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;

}

.headerSection {

  grid-area: header;
  display: grid;
  grid-template-areas: "header1"
                       "links";
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  max-height: 100%;
  max-width: 100%;
  justify-items: center;
  row-gap: 20px;

}

.header1Div {

  grid-area: header1;
  display: grid;
  align-content: center;
  container-type: inline-size;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;

}

.header1 {

  align-self: center;
    font-size   : 6cqw; /* text sizing based on the container dimensions, which helps with this font-size not causing container resizing for certain viewport dimenions */
    line-height : 6cqw;
    max-height: 100%;
    margin: 0;

}

.linksDiv {

  container-type: inline-size;
  grid-area: links;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;

}

.links:nth-child(1) {

  justify-self: end;

}

.links:nth-child(2) {

  justify-self: start;

}

.logo {
  height: 8cqw;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.contentSection {
  grid-area: content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 25%);
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
}

.buttonsDiv {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  margin: 0;
  justify-content: center;
  column-gap: 20px;
}

.buttons {

  margin: 0;
  max-width: 45%;
  width: 45%;

}

.buttons:nth-child(1) {

  justify-self: end;

}

.buttons:nth-child(2) {

  justify-self: start;

}

.editParagraph {
  margin: 0;
  max-width: 100%;
  width: 100%;
  align-self: center;
}

.dataParagraph {
  margin: 0;
  max-width: 100%;
  width: 100%;
  align-self: center;
}

.docsParagraph {
  margin: 0;
  color: #888;
}


a {
    color: #CCCCCC;
}

a.active {
    color: #FFFFFF;
    font-weight: bold;
  /* Add any other active styles */
}