body {

  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100%;
  height: 100%;

}

#root {

  display: grid;
  grid-template-areas: "navbar navbar navbar"
                        "sidebar1 main sidebar2"
                        "footer footer footer";
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  max-width: 100%;
  min-width: 100vw;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

}

/*
#root > * {
  border: 1px solid #000;
}
*/

#main {
  grid-area: main;
}

.gridFoot {
  grid-area: footer;
}

.gridRoot {

  
  
  max-height: 100vh;

}



.gridHead {

  display: grid;
  grid-template-rows: 1fr 2fr;
  min-height: 50vh;
  justify-items: center;

}

.gridHeadSub {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;

}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.gridMain {

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-height: 30vh;
  align-items: center;
  justify-content: center;

}

.card {
  display: grid;
  max-width: 50vw;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.card > button {

  margin: 2rem;

}

.read-the-docs {
  color: #888;
}



.gridFoot {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

}
